In [2]:
#Colleen J Karnas-Haines
#4/23/2018
#I have used SQLALchemy for many of the commands unless specific MySql commands are required. 
#Sometimes I provided both the MySql and the SQLALchemy commands

In [75]:
# Pandas
import pandas as pd

# SQL Alchemy
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func, or_

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [4]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("mysql://root:root@localhost:3306/sakila")
conn = engine.connect()

In [5]:

data_actor = pd.read_sql("SELECT * FROM actor", conn)

In [6]:
data_actor.head()

   actor_id first_name     last_name         last_update
0         1   PENELOPE       GUINESS 2006-02-15 04:34:33
1         2       NICK      WAHLBERG 2006-02-15 04:34:33
2         3         ED         CHASE 2006-02-15 04:34:33
3         4   JENNIFER         DAVIS 2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33

In [7]:
#1a. Display the first and last names of all actors from the table `actor`. 
data_names = pd.read_sql("SELECT first_name, last_name FROM actor", conn)
data_names.head()

  first_name     last_name
0   PENELOPE       GUINESS
1       NICK      WAHLBERG
2         ED         CHASE
3   JENNIFER         DAVIS
4     JOHNNY  LOLLOBRIGIDA

In [8]:
#1b. Display the first and last name of each actor in a single column in upper case letters. Name the column `Actor Name`. 
simply_names=[]
for i in range(len(data_names)):
    #print(data_names.iloc[i,0]+" "+data_names.iloc[i,1])
    simply_names.append(data_names.iloc[i,0]+" "+data_names.iloc[i,1])

simply_names_df = pd.DataFrame(simply_names)
simply_names_df.columns=["Actor Name"]
print(simply_names_df)

              Actor Name
0       PENELOPE GUINESS
1          NICK WAHLBERG
2               ED CHASE
3         JENNIFER DAVIS
4    JOHNNY LOLLOBRIGIDA
5        BETTE NICHOLSON
6           GRACE MOSTEL
7      MATTHEW JOHANSSON
8              JOE SWANK
9        CHRISTIAN GABLE
10             ZERO CAGE
11            KARL BERRY
12              UMA WOOD
13         VIVIEN BERGEN
14          CUBA OLIVIER
15          FRED COSTNER
16          HELEN VOIGHT
17              DAN TORN
18           BOB FAWCETT
19         LUCILLE TRACY
20       KIRSTEN PALTROW
21            ELVIS MARX
22         SANDRA KILMER
23        CAMERON STREEP
24           KEVIN BLOOM
25          RIP CRAWFORD
26         JULIA MCQUEEN
27         WOODY HOFFMAN
28            ALEC WAYNE
29           SANDRA PECK
..                   ...
170     OLYMPIA PFEIFFER
171     GROUCHO WILLIAMS
172        ALAN DREYFUSS
173       MICHAEL BENING
174      WILLIAM HACKMAN
175            JON CHASE
176        GENE MCKELLEN
177          LISA MONROE
178           ED GUINESS
179     JEFF SILVERSTONE
180       MATTHEW CARREY
181        DEBBIE AKROYD
182        RUSSELL CLOSE
183     HUMPHREY GARLAND
184       MICHAEL BOLGER
185      JULIA ZELLWEGER
186           RENEE BALL
187         ROCK DUKAKIS
188           CUBA BIRCH
189        AUDREY BAILEY
190      GREGORY GOODING
191          JOHN SUVARI
192          BURT TEMPLE
193          MERYL ALLEN
194    JAYNE SILVERSTONE
195          BELA WALKEN
196           REESE WEST
197          MARY KEITEL
198        JULIA FAWCETT
199         THORA TEMPLE

[200 rows x 1 columns]

In [11]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, BLOB
Base = declarative_base()

In [137]:
#2a. You need to find the ID number, first name, and last name of an actor, of whom you know only the first name, "Joe." 
#What is one query would you use to obtain this information?
#MySQL version:
#SELECT actor.actor_id, actor.last_name, actor.first_name
#FROM actor 
#Where (actor.first_name = "Joe");

#OR SQLALCHEMY version:
actor=Base.classes.actor

find_joe=session.query(
    actor.actor_id, actor.last_name, actor.first_name)\
    .filter(actor.first_name=="Joe").all()
    
for record in find_joe:
    (a_id, l_n, f_n) = record
    print(f"Actor ID: {a_id} Name: {f_n}, {l_n}")

Actor ID: 9 Name: JOE, SWANK

In [10]:
# Another method...
#Create a session
session = Session(engine)

In [12]:
class Actors(Base):
  __tablename__ = "actor"
  actor_id = Column(Integer, primary_key=True)
  first_name = Column(String)
  last_name = Column(String)

In [13]:
all_joes = session.query(Actors.actor_id,Actors.first_name,Actors.last_name).filter_by(first_name="Joe").all()
all_joes

[(9, 'JOE', 'SWANK')]

In [14]:
#2b. Find all actors whose last name contain the letters `GEN`
all_gen = session.query(Actors.actor_id,Actors.first_name,Actors.last_name).filter(Actors.last_name.ilike("%gen%")).all() 
all_gen

[(14, 'VIVIEN', 'BERGEN'),
 (41, 'JODIE', 'DEGENERES'),
 (107, 'GINA', 'DEGENERES'),
 (166, 'NICK', 'DEGENERES')]

In [15]:
#2c. Find all actors whose last names contain the letters `LI`. 
#This time, order the rows by last name and first name, in that order:
all_li = session.query(Actors.actor_id,Actors.first_name,Actors.last_name).filter(Actors.last_name.ilike("%li%"))\
.order_by(Actors.last_name,Actors.first_name).all() 
all_li

[(86, 'GREG', 'CHAPLIN'),
 (82, 'WOODY', 'JOLIE'),
 (34, 'AUDREY', 'OLIVIER'),
 (15, 'CUBA', 'OLIVIER'),
 (172, 'GROUCHO', 'WILLIAMS'),
 (137, 'MORGAN', 'WILLIAMS'),
 (72, 'SEAN', 'WILLIAMS'),
 (83, 'BEN', 'WILLIS'),
 (96, 'GENE', 'WILLIS'),
 (164, 'HUMPHREY', 'WILLIS')]

In [140]:
#2d. Using `IN`, display the `country_id` and `country` columns of the following countries: Afghanistan, Bangladesh, and China:
#MySql specific question:
#select country_id, country from country 
#where country in ('Afghanistan', 'Bangladesh', 'China');
country=Base.classes.country
find_countries=session.query(country.country_id,country.country).filter(country.country.in_(["Afghanistan","Bangladesh","China"]))
for record in find_countries:
    (c_id, country)=record
    print(f"{country} has the country ID code of {c_id}")

Afghanistan has the country ID code of 1
Bangladesh has the country ID code of 12
China has the country ID code of 23

In [17]:
#3a. Add a `middle_name` column to the table `actor`. Position it between `first_name` and `last_name`. 
#Hint: you will need to specify the data type.
#3b. You realize that some of these actors have tremendously long last names. 
#Change the data type of the `middle_name` column to `blobs`.
class Actors2(Base):
  __tablename__ = "actor"
  __table_args__ = {'extend_existing': True} 
  actor_id = Column(Integer, primary_key=True)
  first_name = Column(String)
  middle_name = Column(BLOB)
  last_name = Column(String)
  #extend_existing=True

In [18]:
all_li = session.query(Actors2.actor_id,Actors2.first_name,Actors2.last_name).filter(Actors2.last_name.ilike("%li%"))\
.order_by(Actors2.last_name,Actors2.first_name).all() 
all_li

[(86, 'GREG', 'CHAPLIN'),
 (82, 'WOODY', 'JOLIE'),
 (34, 'AUDREY', 'OLIVIER'),
 (15, 'CUBA', 'OLIVIER'),
 (172, 'GROUCHO', 'WILLIAMS'),
 (137, 'MORGAN', 'WILLIAMS'),
 (72, 'SEAN', 'WILLIAMS'),
 (83, 'BEN', 'WILLIS'),
 (96, 'GENE', 'WILLIS'),
 (164, 'HUMPHREY', 'WILLIS')]

In [19]:
#3c. Now delete the `middle_name` column. MySql command:
#ALTER TABLE actors DROP COLUMN middle_name;

In [20]:
#4a. List the last names of actors, as well as how many actors have that last name.
for i in range(len(data_names)):
    l_n=data_names.iloc[i,1]
    print(l_n+" " +str(session.query(Actors).filter(Actors.last_name==l_n).count()))

GUINESS 3
WAHLBERG 2
CHASE 2
DAVIS 3
LOLLOBRIGIDA 1
NICHOLSON 1
MOSTEL 2
JOHANSSON 3
SWANK 1
GABLE 1
CAGE 2
BERRY 3
WOOD 2
BERGEN 1
OLIVIER 2
COSTNER 1
VOIGHT 1
TORN 3
FAWCETT 2
TRACY 2
PALTROW 2
MARX 1
KILMER 5
STREEP 2
BLOOM 1
CRAWFORD 2
MCQUEEN 2
HOFFMAN 3
WAYNE 1
PECK 3
SOBIESKI 1
HACKMAN 2
PECK 3
OLIVIER 2
DEAN 2
DUKAKIS 2
BOLGER 2
MCKELLEN 2
BRODY 2
CAGE 2
DEGENERES 3
MIRANDA 1
JOVOVICH 1
STALLONE 1
KILMER 5
GOLDBERG 1
BARRYMORE 1
DAY-LEWIS 1
CRONYN 2
HOPKINS 3
PHOENIX 1
HUNT 1
TEMPLE 4
PINKETT 1
KILMER 5
HARRIS 3
CRUISE 1
AKROYD 3
TAUTOU 1
BERRY 3
NEESON 2
NEESON 2
WRAY 1
JOHANSSON 3
HUDSON 1
TANDY 2
BAILEY 2
WINSLET 2
PALTROW 2
MCCONAUGHEY 2
GRANT 1
WILLIAMS 3
PENN 2
KEITEL 3
POSEY 1
ASTAIRE 1
MCCONAUGHEY 2
SINATRA 1
HOFFMAN 3
CRUZ 1
DAMON 1
JOLIE 1
WILLIS 3
PITT 1
ZELLWEGER 3
CHAPLIN 1
PECK 3
PESCI 1
DENCH 2
GUINESS 3
BERRY 3
AKROYD 3
PRESLEY 1
TORN 3
WAHLBERG 2
WILLIS 3
HAWKE 1
BRIDGES 1
MOSTEL 2
DEPP 2
DAVIS 3
TORN 3
LEIGH 1
CRONYN 2
CROWE 1
DUNST 1
DEGENERES 3
NOLTE 4
DERN 1
DAVIS 3
ZELLWEGER 3
BACALL 1
HOPKINS 3
MCDORMAND 1
BALE 1
STREEP 2
TRACY 2
ALLEN 3
JACKMAN 2
MONROE 2
BERGMAN 1
NOLTE 4
DENCH 2
BENING 2
NOLTE 4
TOMEI 1
GARLAND 3
MCQUEEN 2
CRAWFORD 2
KEITEL 3
JACKMAN 2
HOPPER 2
PENN 2
HOPKINS 3
REYNOLDS 1
MANSFIELD 1
WILLIAMS 3
DEE 2
GOODING 2
HURT 1
HARRIS 3
RYDER 1
DEAN 2
WITHERSPOON 1
ALLEN 3
JOHANSSON 3
WINSLET 2
DEE 2
TEMPLE 4
NOLTE 4
HESTON 1
HARRIS 3
KILMER 5
GIBSON 1
TANDY 2
WOOD 2
MALDEN 1
BASINGER 1
BRODY 2
DEPP 2
HOPE 1
KILMER 5
WEST 2
WILLIS 3
GARLAND 3
DEGENERES 3
BULLOCK 1
WILSON 1
HOFFMAN 3
HOPPER 2
PFEIFFER 1
WILLIAMS 3
DREYFUSS 1
BENING 2
HACKMAN 2
CHASE 2
MCKELLEN 2
MONROE 2
GUINESS 3
SILVERSTONE 2
CARREY 1
AKROYD 3
CLOSE 1
GARLAND 3
BOLGER 2
ZELLWEGER 3
BALL 1
DUKAKIS 2
BIRCH 1
BAILEY 2
GOODING 2
SUVARI 1
TEMPLE 4
ALLEN 3
SILVERSTONE 2
WALKEN 1
WEST 2
KEITEL 3
FAWCETT 2
TEMPLE 4

In [21]:
#4b. List last names of actors and the number of actors who have that last name, 
#but only for names that are shared by at least two actors
for i in range(len(data_names)):
    l_n=data_names.iloc[i,1]
    ln_count=session.query(Actors).filter(Actors.last_name==l_n).count()
    if ln_count>=2:
        print(l_n+" " +str(ln_count))

GUINESS 3
WAHLBERG 2
CHASE 2
DAVIS 3
MOSTEL 2
JOHANSSON 3
CAGE 2
BERRY 3
WOOD 2
OLIVIER 2
TORN 3
FAWCETT 2
TRACY 2
PALTROW 2
KILMER 5
STREEP 2
CRAWFORD 2
MCQUEEN 2
HOFFMAN 3
PECK 3
HACKMAN 2
PECK 3
OLIVIER 2
DEAN 2
DUKAKIS 2
BOLGER 2
MCKELLEN 2
BRODY 2
CAGE 2
DEGENERES 3
KILMER 5
CRONYN 2
HOPKINS 3
TEMPLE 4
KILMER 5
HARRIS 3
AKROYD 3
BERRY 3
NEESON 2
NEESON 2
JOHANSSON 3
TANDY 2
BAILEY 2
WINSLET 2
PALTROW 2
MCCONAUGHEY 2
WILLIAMS 3
PENN 2
KEITEL 3
MCCONAUGHEY 2
HOFFMAN 3
WILLIS 3
ZELLWEGER 3
PECK 3
DENCH 2
GUINESS 3
BERRY 3
AKROYD 3
TORN 3
WAHLBERG 2
WILLIS 3
MOSTEL 2
DEPP 2
DAVIS 3
TORN 3
CRONYN 2
DEGENERES 3
NOLTE 4
DAVIS 3
ZELLWEGER 3
HOPKINS 3
STREEP 2
TRACY 2
ALLEN 3
JACKMAN 2
MONROE 2
NOLTE 4
DENCH 2
BENING 2
NOLTE 4
GARLAND 3
MCQUEEN 2
CRAWFORD 2
KEITEL 3
JACKMAN 2
HOPPER 2
PENN 2
HOPKINS 3
WILLIAMS 3
DEE 2
GOODING 2
HARRIS 3
DEAN 2
ALLEN 3
JOHANSSON 3
WINSLET 2
DEE 2
TEMPLE 4
NOLTE 4
HARRIS 3
KILMER 5
TANDY 2
WOOD 2
BRODY 2
DEPP 2
KILMER 5
WEST 2
WILLIS 3
GARLAND 3
DEGENERES 3
HOFFMAN 3
HOPPER 2
WILLIAMS 3
BENING 2
HACKMAN 2
CHASE 2
MCKELLEN 2
MONROE 2
GUINESS 3
SILVERSTONE 2
AKROYD 3
GARLAND 3
BOLGER 2
ZELLWEGER 3
DUKAKIS 2
BAILEY 2
GOODING 2
TEMPLE 4
ALLEN 3
SILVERSTONE 2
WEST 2
KEITEL 3
FAWCETT 2
TEMPLE 4

In [22]:
#4c. Oh, no! The actor `HARPO WILLIAMS` was accidentally entered in the `actor` table as `GROUCHO WILLIAMS`, 
#the name of Harpo's second cousin's husband's yoga teacher. 
#Write a query to fix the record.
harpo_fix = session.query(Actors).filter(Actors.first_name=="GROUCHO", Actors.last_name=="Williams").first()
if harpo_fix ==None:
    print("Boo. No Grouchos around here!")
else:
    print(harpo_fix.first_name+" "+harpo_fix.last_name)
    harpo_fix.first_name="HARPO"
    print(harpo_fix.first_name+" "+harpo_fix.last_name)

GROUCHO WILLIAMS
HARPO WILLIAMS

In [23]:

#4d. Perhaps we were too hasty in changing `GROUCHO` to `HARPO`. It turns out that `GROUCHO` was the correct name after all! 
#In a single query, if the first name of the actor is currently `HARPO`, change it to `GROUCHO`. 
#Otherwise, change the first name to `MUCHO GROUCHO`, as that is exactly what the actor will be with the grievous error. 
#BE CAREFUL NOT TO CHANGE THE FIRST NAME OF EVERY ACTOR TO `MUCHO GROUCHO`, HOWEVER! 
#(Hint: update the record using a unique identifier.)

from sqlalchemy import func
back_to_groucho = [(
    session.query(Actors)
    .filter(Actors.first_name=="HARPO", Actors.last_name=="Williams")
    .update({Actors.first_name: func.replace(Actors.first_name, 'HARPO', 'GROUCHO')},
            synchronize_session=False)
    ),(
    session.query(Actors)
    .filter(Actors.first_name=="GROUCHO", Actors.last_name=="Williams")
    .update({Actors.first_name: func.replace(Actors.first_name, 'GROUCHO', 'MUCHO GROUCHO')},
            synchronize_session=False)
    )]

In [24]:
#5a. You cannot locate the schema of the `address` table. Which query would you use to re-create it? 
#use sakila;
#show create table address;

In [27]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\dialects\mysql\reflection.py:179: SAWarning: Did not recognize type 'geometry' of column 'location'
  (type_, name))

['actor',
 'address',
 'city',
 'country',
 'category',
 'customer',
 'store',
 'staff',
 'film',
 'language',
 'film_actor',
 'film_category',
 'film_text',
 'inventory',
 'payment',
 'rental']

In [28]:
#6a. Use `JOIN` to display the first and last names, as well as the address, of each staff member. 
#Use the tables `staff` and `address`:

#MySQL version
#SELECT s.first_name, s.last_name, a.address
#FROM staff as s
#LEFT JOIN address as a
#	on s.address_id=a.address_id;

staff = Base.classes.staff
address = Base.classes.address

wanted_data = [staff.first_name, staff.last_name, address.address]
combo= session.query(*wanted_data).filter(address.address_id == staff.address_id).all()

for record in combo:
    (first_n, last_n, addy) = record
    print(
        f"On staff we have '{first_n} {last_n}'"
        f"who lives at '{addy}'.")

On staff we have 'Mike Hillyer'who lives at '23 Workhaven Lane'.
On staff we have 'Jon Stephens'who lives at '1411 Lillydale Drive'.

In [60]:
#6b. Use `JOIN` to display the total amount rung up by each staff member in August of 2005. Use tables `staff` and `payment`. 
#SELECT s.last_name, sum(p.amount)
#FROM payment AS p
#JOIN staff AS s
#	ON p.staff_id=s.staff_id
#    Where p.payment_date like '2005-08%'
#    group by (s.last_name);
# last_name, sum(p.amount)

#Results:
#'Hillyer', '11853.65'
#'Stephens', '12218.48'

#OR the SQLALCHEMY version
payment=Base.classes.payment

combo2=session.query(
    staff.first_name,staff.last_name,
    func.sum(payment.amount).label('total')).filter(staff.staff_id==payment.staff_id)\
    .filter(payment.payment_date.like("2005-08%")).group_by(staff.last_name).all()

for record in combo2:
    (first_n, last_n, total) = record
    print(
        f"On staff we have '{first_n} {last_n}' "
        f"who sold ${total}.")

On staff we have 'Mike Hillyer' who sold $11853.65.
On staff we have 'Jon Stephens' who sold $12218.48.

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:165: Warning: (1292, "Incorrect datetime value: '2005-08%' for column 'payment_date' at row 1")
  result = self._query(query)

In [62]:
#6c. List each film and the number of actors who are listed for that film. Use tables `film_actor` and `film`. Use inner join.
#MySql version:
#SELECT f.title, count(f_a.actor_id)
#FROM film AS f
#INNER JOIN film_actor AS f_a
#	ON f.film_id=f_a.film_id
#    group by (f.film_id);

#OR SQLALCHEMY version:

f_a = Base.classes.film_actor
film=Base.classes.film

combo3=session.query(
    film.title,
    func.count(f_a.actor_id).label('total')).filter(film.film_id==f_a.film_id)\
    .group_by(film.title).all()
    
for record in combo3:
    (title, count) = record
    print(
        f"The movie '{title}'"
        f"had {count} actors.")

The movie 'ACADEMY DINOSAUR'had 10 actors.
The movie 'ACE GOLDFINGER'had 4 actors.
The movie 'ADAPTATION HOLES'had 5 actors.
The movie 'AFFAIR PREJUDICE'had 5 actors.
The movie 'AFRICAN EGG'had 5 actors.
The movie 'AGENT TRUMAN'had 7 actors.
The movie 'AIRPLANE SIERRA'had 5 actors.
The movie 'AIRPORT POLLOCK'had 4 actors.
The movie 'ALABAMA DEVIL'had 9 actors.
The movie 'ALADDIN CALENDAR'had 8 actors.
The movie 'ALAMO VIDEOTAPE'had 4 actors.
The movie 'ALASKA PHANTOM'had 7 actors.
The movie 'ALI FOREVER'had 5 actors.
The movie 'ALICE FANTASIA'had 4 actors.
The movie 'ALIEN CENTER'had 6 actors.
The movie 'ALLEY EVOLUTION'had 5 actors.
The movie 'ALONE TRIP'had 8 actors.
The movie 'ALTER VICTORY'had 4 actors.
The movie 'AMADEUS HOLY'had 6 actors.
The movie 'AMELIE HELLFIGHTERS'had 6 actors.
The movie 'AMERICAN CIRCUS'had 5 actors.
The movie 'AMISTAD MIDSUMMER'had 4 actors.
The movie 'ANACONDA CONFESSIONS'had 5 actors.
The movie 'ANALYZE HOOSIERS'had 5 actors.
The movie 'ANGELS LIFE'had 9 actors.
The movie 'ANNIE IDENTITY'had 3 actors.
The movie 'ANONYMOUS HUMAN'had 9 actors.
The movie 'ANTHEM LUKE'had 2 actors.
The movie 'ANTITRUST TOMATOES'had 7 actors.
The movie 'ANYTHING SAVANNAH'had 3 actors.
The movie 'APACHE DIVINE'had 4 actors.
The movie 'APOCALYPSE FLAMINGOS'had 5 actors.
The movie 'APOLLO TEEN'had 8 actors.
The movie 'ARABIA DOGMA'had 12 actors.
The movie 'ARACHNOPHOBIA ROLLERCOASTER'had 8 actors.
The movie 'ARGONAUTS TOWN'had 5 actors.
The movie 'ARIZONA BANG'had 4 actors.
The movie 'ARK RIDGEMONT'had 3 actors.
The movie 'ARMAGEDDON LOST'had 7 actors.
The movie 'ARMY FLINTSTONES'had 7 actors.
The movie 'ARSENIC INDEPENDENCE'had 3 actors.
The movie 'ARTIST COLDBLOODED'had 7 actors.
The movie 'ATLANTIS CAUSE'had 9 actors.
The movie 'ATTACKS HATE'had 4 actors.
The movie 'ATTRACTION NEWTON'had 4 actors.
The movie 'AUTUMN CROW'had 3 actors.
The movie 'BABY HALL'had 8 actors.
The movie 'BACKLASH UNDEFEATED'had 7 actors.
The movie 'BADMAN DAWN'had 8 actors.
The movie 'BAKED CLEOPATRA'had 1 actors.
The movie 'BALLOON HOMEWARD'had 6 actors.
The movie 'BALLROOM MOCKINGBIRD'had 7 actors.
The movie 'BANG KWAI'had 7 actors.
The movie 'BANGER PINOCCHIO'had 6 actors.
The movie 'BARBARELLA STREETCAR'had 5 actors.
The movie 'BAREFOOT MANCHURIAN'had 8 actors.
The movie 'BASIC EASY'had 6 actors.
The movie 'BEACH HEARTBREAKERS'had 7 actors.
The movie 'BEAR GRACELAND'had 3 actors.
The movie 'BEAST HUNCHBACK'had 5 actors.
The movie 'BEAUTY GREASE'had 5 actors.
The movie 'BED HIGHBALL'had 5 actors.
The movie 'BEDAZZLED MARRIED'had 7 actors.
The movie 'BEETHOVEN EXORCIST'had 6 actors.
The movie 'BEHAVIOR RUNAWAY'had 5 actors.
The movie 'BENEATH RUSH'had 7 actors.
The movie 'BERETS AGENT'had 10 actors.
The movie 'BETRAYED REAR'had 4 actors.
The movie 'BEVERLY OUTLAW'had 4 actors.
The movie 'BIKINI BORROWERS'had 2 actors.
The movie 'BILKO ANONYMOUS'had 3 actors.
The movie 'BILL OTHERS'had 6 actors.
The movie 'BINGO TALENTED'had 5 actors.
The movie 'BIRCH ANTITRUST'had 6 actors.
The movie 'BIRD INDEPENDENCE'had 2 actors.
The movie 'BIRDCAGE CASPER'had 4 actors.
The movie 'BIRDS PERDITION'had 4 actors.
The movie 'BLACKOUT PRIVATE'had 5 actors.
The movie 'BLADE POLISH'had 5 actors.
The movie 'BLANKET BEVERLY'had 4 actors.
The movie 'BLINDNESS GUN'had 3 actors.
The movie 'BLOOD ARGONAUTS'had 4 actors.
The movie 'BLUES INSTINCT'had 4 actors.
The movie 'BOILED DARES'had 8 actors.
The movie 'BONNIE HOLOCAUST'had 9 actors.
The movie 'BOOGIE AMELIE'had 6 actors.
The movie 'BOONDOCK BALLROOM'had 13 actors.
The movie 'BORN SPINAL'had 9 actors.
The movie 'BORROWERS BEDAZZLED'had 7 actors.
The movie 'BOULEVARD MOB'had 8 actors.
The movie 'BOUND CHEAPER'had 2 actors.
The movie 'BOWFINGER GABLES'had 5 actors.
The movie 'BRANNIGAN SUNRISE'had 2 actors.
The movie 'BRAVEHEART HUMAN'had 4 actors.
The movie 'BREAKFAST GOLDFINGER'had 5 actors.
The movie 'BREAKING HOME'had 6 actors.
The movie 'BRIDE INTRIGUE'had 1 actors.
The movie 'BRIGHT ENCOUNTERS'had 4 actors.
The movie 'BRINGING HYSTERICAL'had 2 actors.
The movie 'BROOKLYN DESERT'had 5 actors.
The movie 'BROTHERHOOD BLANKET'had 5 actors.
The movie 'BUBBLE GROSSE'had 3 actors.
The movie 'BUCKET BROTHERHOOD'had 6 actors.
The movie 'BUGSY SONG'had 2 actors.
The movie 'BULL SHAWSHANK'had 8 actors.
The movie 'BULWORTH COMMANDMENTS'had 4 actors.
The movie 'BUNCH MINDS'had 8 actors.
The movie 'BUTCH PANTHER'had 3 actors.
The movie 'BUTTERFLY CHOCOLAT'had 7 actors.
The movie 'CABIN FLASH'had 4 actors.
The movie 'CADDYSHACK JEDI'had 7 actors.
The movie 'CALENDAR GUNFIGHT'had 8 actors.
The movie 'CALIFORNIA BIRDS'had 2 actors.
The movie 'CAMELOT VACATION'had 2 actors.
The movie 'CAMPUS REMEMBER'had 3 actors.
The movie 'CANDIDATE PERDITION'had 4 actors.
The movie 'CANDLES GRAPES'had 7 actors.
The movie 'CANYON STOCK'had 6 actors.
The movie 'CAPER MOTIONS'had 7 actors.
The movie 'CARIBBEAN LIBERTY'had 8 actors.
The movie 'CAROL TEXAS'had 7 actors.
The movie 'CARRIE BUNCH'had 7 actors.
The movie 'CASABLANCA SUPER'had 4 actors.
The movie 'CASPER DRAGONFLY'had 5 actors.
The movie 'CASSIDY WYOMING'had 7 actors.
The movie 'CASUALTIES ENCINO'had 5 actors.
The movie 'CAT CONEHEADS'had 4 actors.
The movie 'CATCH AMISTAD'had 5 actors.
The movie 'CAUSE DATE'had 6 actors.
The movie 'CELEBRITY HORN'had 4 actors.
The movie 'CENTER DINOSAUR'had 4 actors.
The movie 'CHAINSAW UPTOWN'had 2 actors.
The movie 'CHAMBER ITALIAN'had 7 actors.
The movie 'CHAMPION FLATLINERS'had 4 actors.
The movie 'CHANCE RESURRECTION'had 6 actors.
The movie 'CHAPLIN LICENSE'had 6 actors.
The movie 'CHARADE DUFFEL'had 3 actors.
The movie 'CHARIOTS CONSPIRACY'had 2 actors.
The movie 'CHASING FIGHT'had 5 actors.
The movie 'CHEAPER CLYDE'had 2 actors.
The movie 'CHICAGO NORTH'had 8 actors.
The movie 'CHICKEN HELLFIGHTERS'had 2 actors.
The movie 'CHILL LUCK'had 5 actors.
The movie 'CHINATOWN GLADIATOR'had 10 actors.
The movie 'CHISUM BEHAVIOR'had 4 actors.
The movie 'CHITTY LOCK'had 13 actors.
The movie 'CHOCOLAT HARRY'had 5 actors.
The movie 'CHOCOLATE DUCK'had 7 actors.
The movie 'CHRISTMAS MOONSHINE'had 3 actors.
The movie 'CIDER DESIRE'had 5 actors.
The movie 'CINCINATTI WHISPERER'had 4 actors.
The movie 'CIRCUS YOUTH'had 2 actors.
The movie 'CITIZEN SHREK'had 8 actors.
The movie 'CLASH FREDDY'had 7 actors.
The movie 'CLEOPATRA DEVIL'had 7 actors.
The movie 'CLERKS ANGELS'had 4 actors.
The movie 'CLOCKWORK PARADISE'had 5 actors.
The movie 'CLONES PINOCCHIO'had 5 actors.
The movie 'CLOSER BANG'had 6 actors.
The movie 'CLUB GRAFFITI'had 4 actors.
The movie 'CLUE GRAIL'had 6 actors.
The movie 'CLUELESS BUCKET'had 8 actors.
The movie 'CLYDE THEORY'had 4 actors.
The movie 'COAST RAINBOW'had 10 actors.
The movie 'COLDBLOODED DARLING'had 4 actors.
The movie 'COLOR PHILADELPHIA'had 7 actors.
The movie 'COMA HEAD'had 3 actors.
The movie 'COMANCHEROS ENEMY'had 5 actors.
The movie 'COMFORTS RUSH'had 5 actors.
The movie 'COMMAND DARLING'had 8 actors.
The movie 'COMMANDMENTS EXPRESS'had 4 actors.
The movie 'CONEHEADS SMOOCHY'had 9 actors.
The movie 'CONFESSIONS MAGUIRE'had 4 actors.
The movie 'CONFIDENTIAL INTERVIEW'had 2 actors.
The movie 'CONFUSED CANDLES'had 6 actors.
The movie 'CONGENIALITY QUEST'had 3 actors.
The movie 'CONNECTICUT TRAMP'had 7 actors.
The movie 'CONNECTION MICROCOSMOS'had 7 actors.
The movie 'CONQUERER NUTS'had 6 actors.
The movie 'CONSPIRACY SPIRIT'had 4 actors.
The movie 'CONTACT ANONYMOUS'had 5 actors.
The movie 'CONTROL ANTHEM'had 3 actors.
The movie 'CONVERSATION DOWNHILL'had 3 actors.
The movie 'CORE SUIT'had 4 actors.
The movie 'COWBOY DOOM'had 5 actors.
The movie 'CRAFT OUTFIELD'had 6 actors.
The movie 'CRANES RESERVOIR'had 6 actors.
The movie 'CRAZY HOME'had 13 actors.
The movie 'CREATURES SHAKESPEARE'had 3 actors.
The movie 'CREEPERS KANE'had 6 actors.
The movie 'CROOKED FROGMEN'had 6 actors.
The movie 'CROSSING DIVORCE'had 2 actors.
The movie 'CROSSROADS CASUALTIES'had 8 actors.
The movie 'CROW GREASE'had 10 actors.
The movie 'CROWDS TELEMARK'had 4 actors.
The movie 'CRUELTY UNFORGIVEN'had 2 actors.
The movie 'CRUSADE HONEY'had 9 actors.
The movie 'CRYSTAL BREAKING'had 5 actors.
The movie 'CUPBOARD SINNERS'had 8 actors.
The movie 'CURTAIN VIDEOTAPE'had 3 actors.
The movie 'CYCLONE FAMILY'had 3 actors.
The movie 'DADDY PITTSBURGH'had 5 actors.
The movie 'DAISY MENAGERIE'had 7 actors.
The movie 'DALMATIONS SWEDEN'had 6 actors.
The movie 'DANCES NONE'had 5 actors.
The movie 'DANCING FEVER'had 6 actors.
The movie 'DANGEROUS UPTOWN'had 8 actors.
The movie 'DARES PLUTO'had 10 actors.
The movie 'DARKNESS WAR'had 2 actors.
The movie 'DARKO DORADO'had 4 actors.
The movie 'DARLING BREAKING'had 2 actors.
The movie 'DARN FORRESTER'had 9 actors.
The movie 'DATE SPEED'had 4 actors.
The movie 'DAUGHTER MADIGAN'had 4 actors.
The movie 'DAWN POND'had 6 actors.
The movie 'DAY UNFAITHFUL'had 5 actors.
The movie 'DAZED PUNK'had 6 actors.
The movie 'DECEIVER BETRAYED'had 4 actors.
The movie 'DEEP CRUSADE'had 7 actors.
The movie 'DEER VIRGINIAN'had 3 actors.
The movie 'DELIVERANCE MULHOLLAND'had 3 actors.
The movie 'DESERT POSEIDON'had 5 actors.
The movie 'DESIRE ALIEN'had 7 actors.
The movie 'DESPERATE TRAINSPOTTING'had 4 actors.
The movie 'DESTINATION JERK'had 3 actors.
The movie 'DESTINY SATURDAY'had 7 actors.
The movie 'DETAILS PACKER'had 2 actors.
The movie 'DETECTIVE VISION'had 3 actors.
The movie 'DEVIL DESIRE'had 5 actors.
The movie 'DIARY PANIC'had 4 actors.
The movie 'DINOSAUR SECRETARY'had 6 actors.
The movie 'DIRTY ACE'had 5 actors.
The movie 'DISCIPLE MOTHER'had 7 actors.
The movie 'DISTURBING SCARFACE'had 4 actors.
The movie 'DIVIDE MONSTER'had 6 actors.
The movie 'DIVINE RESURRECTION'had 5 actors.
The movie 'DIVORCE SHINING'had 6 actors.
The movie 'DOCTOR GRAIL'had 6 actors.
The movie 'DOGMA FAMILY'had 7 actors.
The movie 'DOLLS RAGE'had 1 actors.
The movie 'DONNIE ALLEY'had 7 actors.
The movie 'DOOM DANCING'had 8 actors.
The movie 'DOORS PRESIDENT'had 9 actors.
The movie 'DORADO NOTTING'had 4 actors.
The movie 'DOUBLE WRATH'had 8 actors.
The movie 'DOUBTFIRE LABYRINTH'had 5 actors.
The movie 'DOWNHILL ENOUGH'had 4 actors.
The movie 'DOZEN LION'had 6 actors.
The movie 'DRACULA CRYSTAL'had 13 actors.
The movie 'DRAGON SQUAD'had 8 actors.
The movie 'DRAGONFLY STRANGERS'had 3 actors.
The movie 'DREAM PICKUP'had 4 actors.
The movie 'DRIFTER COMMANDMENTS'had 7 actors.
The movie 'DRIVER ANNIE'had 8 actors.
The movie 'DRIVING POLISH'had 7 actors.
The movie 'DROP WATERFRONT'had 8 actors.
The movie 'DRUMS DYNAMITE'had 7 actors.
The movie 'DUCK RACER'had 2 actors.
The movie 'DUDE BLINDNESS'had 7 actors.
The movie 'DUFFEL APOCALYPSE'had 3 actors.
The movie 'DUMBO LUST'had 9 actors.
The movie 'DURHAM PANKY'had 9 actors.
The movie 'DWARFS ALTER'had 1 actors.
The movie 'DYING MAKER'had 2 actors.
The movie 'DYNAMITE TARZAN'had 5 actors.
The movie 'EAGLES PANKY'had 6 actors.
The movie 'EARLY HOME'had 6 actors.
The movie 'EARRING INSTINCT'had 5 actors.
The movie 'EARTH VISION'had 3 actors.
The movie 'EASY GLADIATOR'had 3 actors.
The movie 'EDGE KISSING'had 3 actors.
The movie 'EFFECT GLADIATOR'had 7 actors.
The movie 'EGG IGBY'had 5 actors.
The movie 'EGYPT TENENBAUMS'had 5 actors.
The movie 'ELEMENT FREDDY'had 4 actors.
The movie 'ELEPHANT TROJAN'had 5 actors.
The movie 'ELF MURDER'had 5 actors.
The movie 'ELIZABETH SHANE'had 3 actors.
The movie 'EMPIRE MALKOVICH'had 9 actors.
The movie 'ENCINO ELF'had 6 actors.
The movie 'ENCOUNTERS CURTAIN'had 4 actors.
The movie 'ENDING CROWDS'had 5 actors.
The movie 'ENEMY ODDS'had 4 actors.
The movie 'ENGLISH BULWORTH'had 5 actors.
The movie 'ENOUGH RAGING'had 9 actors.
The movie 'ENTRAPMENT SATISFACTION'had 4 actors.
The movie 'ESCAPE METROPOLIS'had 4 actors.
The movie 'EVE RESURRECTION'had 6 actors.
The movie 'EVERYONE CRAFT'had 5 actors.
The movie 'EVOLUTION ALTER'had 6 actors.
The movie 'EXCITEMENT EVE'had 8 actors.
The movie 'EXORCIST STING'had 5 actors.
The movie 'EXPECATIONS NATURAL'had 3 actors.
The movie 'EXPENDABLE STALLION'had 4 actors.
The movie 'EXPRESS LONELY'had 8 actors.
The movie 'EXTRAORDINARY CONQUERER'had 7 actors.
The movie 'EYES DRIVING'had 5 actors.
The movie 'FACTORY DRAGON'had 6 actors.
The movie 'FALCON VOLUME'had 4 actors.
The movie 'FAMILY SWEET'had 9 actors.
The movie 'FANTASIA PARK'had 3 actors.
The movie 'FANTASY TROOPERS'had 9 actors.
The movie 'FARGO GANDHI'had 5 actors.
The movie 'FATAL HAUNTED'had 6 actors.
The movie 'FEATHERS METAL'had 9 actors.
The movie 'FELLOWSHIP AUTUMN'had 7 actors.
The movie 'FERRIS MOTHER'had 1 actors.
The movie 'FEUD FROGMEN'had 4 actors.
The movie 'FEVER EMPIRE'had 3 actors.
The movie 'FICTION CHRISTMAS'had 8 actors.
The movie 'FIDDLER LOST'had 11 actors.
The movie 'FIDELITY DEVIL'had 4 actors.
The movie 'FIGHT JAWBREAKER'had 3 actors.
The movie 'FINDING ANACONDA'had 5 actors.
The movie 'FIRE WOLVES'had 5 actors.
The movie 'FIREBALL PHILADELPHIA'had 5 actors.
The movie 'FIREHOUSE VIETNAM'had 5 actors.
The movie 'FISH OPUS'had 2 actors.
The movie 'FLAMINGOS CONNECTICUT'had 9 actors.
The movie 'FLASH WARS'had 7 actors.
The movie 'FLATLINERS KILLER'had 9 actors.
The movie 'FLINTSTONES HAPPINESS'had 4 actors.
The movie 'FLOATS GARDEN'had 5 actors.
The movie 'FLYING HOOK'had 8 actors.
The movie 'FOOL MOCKINGBIRD'had 2 actors.
The movie 'FOREVER CANDIDATE'had 1 actors.
The movie 'FORREST SONS'had 5 actors.
The movie 'FORRESTER COMANCHEROS'had 3 actors.
The movie 'FORWARD TEMPLE'had 3 actors.
The movie 'FRANKENSTEIN STRANGER'had 2 actors.
The movie 'FREAKY POCUS'had 5 actors.
The movie 'FREDDY STORM'had 3 actors.
The movie 'FREEDOM CLEOPATRA'had 5 actors.
The movie 'FRENCH HOLIDAY'had 7 actors.
The movie 'FRIDA SLIPPER'had 5 actors.
The movie 'FRISCO FORREST'had 9 actors.
The movie 'FROGMEN BREAKING'had 6 actors.
The movie 'FRONTIER CABIN'had 6 actors.
The movie 'FROST HEAD'had 7 actors.
The movie 'FUGITIVE MAGUIRE'had 11 actors.
The movie 'FULL FLATLINERS'had 6 actors.
The movie 'FURY MURDER'had 4 actors.
The movie 'GABLES METROPOLIS'had 8 actors.
The movie 'GALAXY SWEETHEARTS'had 3 actors.
The movie 'GAMES BOWFINGER'had 8 actors.
The movie 'GANDHI KWAI'had 8 actors.
The movie 'GANGS PRIDE'had 4 actors.
The movie 'GARDEN ISLAND'had 3 actors.
The movie 'GASLIGHT CRUSADE'had 5 actors.
The movie 'GATHERING CALENDAR'had 3 actors.
The movie 'GENTLEMEN STAGE'had 8 actors.
The movie 'GHOST GROUNDHOG'had 5 actors.
The movie 'GHOSTBUSTERS ELF'had 1 actors.
The movie 'GIANT TROOPERS'had 1 actors.
The movie 'GILBERT PELICAN'had 4 actors.
The movie 'GILMORE BOILED'had 6 actors.
The movie 'GLADIATOR WESTWARD'had 6 actors.
The movie 'GLASS DYING'had 4 actors.
The movie 'GLEAMING JAWBREAKER'had 8 actors.
The movie 'GLORY TRACY'had 6 actors.
The movie 'GO PURPLE'had 3 actors.
The movie 'GODFATHER DIARY'had 6 actors.
The movie 'GOLD RIVER'had 2 actors.
The movie 'GOLDFINGER SENSIBILITY'had 4 actors.
The movie 'GOLDMINE TYCOON'had 7 actors.
The movie 'GONE TROUBLE'had 5 actors.
The movie 'GOODFELLAS SALUTE'had 8 actors.
The movie 'GORGEOUS BINGO'had 7 actors.
The movie 'GOSFORD DONNIE'had 3 actors.
The movie 'GRACELAND DYNAMITE'had 6 actors.
The movie 'GRADUATE LORD'had 2 actors.
The movie 'GRAFFITI LOVE'had 6 actors.
The movie 'GRAIL FRANKENSTEIN'had 5 actors.
The movie 'GRAPES FURY'had 5 actors.
The movie 'GREASE YOUTH'had 3 actors.
The movie 'GREATEST NORTH'had 6 actors.
The movie 'GREEDY ROOTS'had 8 actors.
The movie 'GREEK EVERYONE'had 4 actors.
The movie 'GRINCH MASSAGE'had 6 actors.
The movie 'GRIT CLOCKWORK'had 3 actors.
The movie 'GROOVE FICTION'had 7 actors.
The movie 'GROSSE WONDERFUL'had 4 actors.
The movie 'GROUNDHOG UNCUT'had 7 actors.
The movie 'GUMP DATE'had 6 actors.
The movie 'GUN BONNIE'had 5 actors.
The movie 'GUNFIGHT MOON'had 4 actors.
The movie 'GUNFIGHTER MUSSOLINI'had 4 actors.
The movie 'GUYS FALCON'had 5 actors.
The movie 'HALF OUTFIELD'had 6 actors.
The movie 'HALL CASSIDY'had 5 actors.
The movie 'HALLOWEEN NUTS'had 7 actors.
The movie 'HAMLET WISDOM'had 5 actors.
The movie 'HANDICAP BOONDOCK'had 7 actors.
The movie 'HANGING DEEP'had 7 actors.
The movie 'HANKY OCTOBER'had 3 actors.
The movie 'HANOVER GALAXY'had 7 actors.
The movie 'HAPPINESS UNITED'had 5 actors.
The movie 'HARDLY ROBBERS'had 3 actors.
The movie 'HAROLD FRENCH'had 7 actors.
The movie 'HARPER DYING'had 4 actors.
The movie 'HARRY IDAHO'had 6 actors.
The movie 'HATE HANDICAP'had 3 actors.
The movie 'HAUNTED ANTITRUST'had 5 actors.
The movie 'HAUNTING PIANIST'had 5 actors.
The movie 'HAWK CHILL'had 7 actors.
The movie 'HEAD STRANGER'had 2 actors.
The movie 'HEARTBREAKERS BRIGHT'had 5 actors.
The movie 'HEAVEN FREEDOM'had 10 actors.
The movie 'HEAVENLY GUN'had 6 actors.
The movie 'HEAVYWEIGHTS BEAST'had 5 actors.
The movie 'HEDWIG ALTER'had 4 actors.
The movie 'HELLFIGHTERS SIERRA'had 12 actors.
The movie 'HIGH ENCINO'had 7 actors.
The movie 'HIGHBALL POTTER'had 5 actors.
The movie 'HILLS NEIGHBORS'had 6 actors.
The movie 'HOBBIT ALIEN'had 8 actors.
The movie 'HOCUS FRIDA'had 3 actors.
The movie 'HOLES BRANNIGAN'had 11 actors.
The movie 'HOLIDAY GAMES'had 6 actors.
The movie 'HOLLOW JEOPARDY'had 2 actors.
The movie 'HOLLYWOOD ANONYMOUS'had 6 actors.
The movie 'HOLOCAUST HIGHBALL'had 5 actors.
The movie 'HOLY TADPOLE'had 3 actors.
The movie 'HOME PITY'had 6 actors.
The movie 'HOMEWARD CIDER'had 7 actors.
The movie 'HOMICIDE PEACH'had 8 actors.
The movie 'HONEY TIES'had 5 actors.
The movie 'HOOK CHARIOTS'had 4 actors.
The movie 'HOOSIERS BIRDCAGE'had 10 actors.
The movie 'HOPE TOOTSIE'had 4 actors.
The movie 'HORN WORKING'had 8 actors.
The movie 'HORROR REIGN'had 5 actors.
The movie 'HOTEL HAPPINESS'had 4 actors.
The movie 'HOURS RAGE'had 6 actors.
The movie 'HOUSE DYNAMITE'had 9 actors.
The movie 'HUMAN GRAFFITI'had 4 actors.
The movie 'HUNCHBACK IMPOSSIBLE'had 2 actors.
The movie 'HUNGER ROOF'had 1 actors.
The movie 'HUNTER ALTER'had 4 actors.
The movie 'HUNTING MUSKETEERS'had 5 actors.
The movie 'HURRICANE AFFAIR'had 3 actors.
The movie 'HUSTLER PARTY'had 4 actors.
The movie 'HYDE DOCTOR'had 6 actors.
The movie 'HYSTERICAL GRAIL'had 9 actors.
The movie 'ICE CROSSING'had 6 actors.
The movie 'IDAHO LOVE'had 6 actors.
The movie 'IDENTITY LOVER'had 4 actors.
The movie 'IDOLS SNATCHERS'had 8 actors.
The movie 'IGBY MAKER'had 5 actors.
The movie 'ILLUSION AMELIE'had 7 actors.
The movie 'IMAGE PRINCESS'had 11 actors.
The movie 'IMPACT ALADDIN'had 3 actors.
The movie 'IMPOSSIBLE PREJUDICE'had 3 actors.
The movie 'INCH JET'had 5 actors.
The movie 'INDEPENDENCE HOTEL'had 9 actors.
The movie 'INDIAN LOVE'had 10 actors.
The movie 'INFORMER DOUBLE'had 3 actors.
The movie 'INNOCENT USUAL'had 3 actors.
The movie 'INSECTS STONE'had 4 actors.
The movie 'INSIDER ARIZONA'had 9 actors.
The movie 'INSTINCT AIRPORT'had 11 actors.
The movie 'INTENTIONS EMPIRE'had 2 actors.
The movie 'INTERVIEW LIAISONS'had 5 actors.
The movie 'INTOLERABLE INTENTIONS'had 6 actors.
The movie 'INTRIGUE WORST'had 7 actors.
The movie 'INVASION CYCLONE'had 7 actors.
The movie 'IRON MOON'had 8 actors.
The movie 'ISHTAR ROCKETEER'had 4 actors.
The movie 'ISLAND EXORCIST'had 3 actors.
The movie 'ITALIAN AFRICAN'had 2 actors.
The movie 'JACKET FRISCO'had 10 actors.
The movie 'JADE BUNCH'had 8 actors.
The movie 'JAPANESE RUN'had 9 actors.
The movie 'JASON TRAP'had 5 actors.
The movie 'JAWBREAKER BROOKLYN'had 5 actors.
The movie 'JAWS HARRY'had 5 actors.
The movie 'JEDI BENEATH'had 4 actors.
The movie 'JEEPERS WEDDING'had 6 actors.
The movie 'JEKYLL FROGMEN'had 3 actors.
The movie 'JEOPARDY ENCINO'had 5 actors.
The movie 'JERICHO MULAN'had 4 actors.
The movie 'JERK PAYCHECK'had 8 actors.
The movie 'JERSEY SASSY'had 9 actors.
The movie 'JET NEIGHBORS'had 6 actors.
The movie 'JINGLE SAGEBRUSH'had 2 actors.
The movie 'JOON NORTHWEST'had 2 actors.
The movie 'JUGGLER HARDLY'had 9 actors.
The movie 'JUMANJI BLADE'had 6 actors.
The movie 'JUMPING WRATH'had 8 actors.
The movie 'JUNGLE CLOSER'had 6 actors.
The movie 'KANE EXORCIST'had 5 actors.
The movie 'KARATE MOON'had 8 actors.
The movie 'KENTUCKIAN GIANT'had 4 actors.

In [66]:
#6d. How many copies of the film `Hunchback Impossible` exist in the inventory system?
#MySQL version:
#SELECT f.title, count(inv.inventory_id)
#FROM film AS f
#JOIN inventory AS inv
#	ON f.film_id=inv.film_id
#    Where (f.title = 'Hunchback Impossible');

# RESULTS:
#'HUNCHBACK IMPOSSIBLE', '6'

#OR SQLALCHEMY version:

inv=Base.classes.inventory

combo4=session.query(
    film.title,
    func.count(inv.inventory_id).label('total')).filter(film.film_id==inv.film_id)\
    .filter(film.title=="Hunchback Impossible").all()
    
for record in combo4:
    (title, count) = record
    print(
        f"The movie '{title}'"
        f"has {count} films in inventory.")

The movie 'HUNCHBACK IMPOSSIBLE'has 6 films in inventory.

In [69]:
#6e. Using the tables `payment` and `customer` and the `JOIN` command, list the total paid by each customer. List the customers alphabetically by last name:
#MySQL version:
#SELECT c.last_name, c.first_name, sum(p.amount)
#FROM payment AS p
#JOIN customer AS c
#	ON c.customer_id=p.customer_id
#    group by (c.last_name);

#OR SQLALCHEMY version:
c=Base.classes.customer

combo5=session.query(
    c.last_name, c.first_name,
    func.sum(payment.amount).label('total')).filter(c.customer_id==payment.customer_id)\
    .group_by(c.last_name).all()
    
for record in combo5:
    (l_n, f_n, total) = record
    print(
        f"Customer: '{l_n}, {f_n}' "
        f"paid a total of ${total}.")

Customer: 'ABNEY, RAFAEL' paid a total of $97.79.
Customer: 'ADAM, NATHANIEL' paid a total of $133.72.
Customer: 'ADAMS, KATHLEEN' paid a total of $92.73.
Customer: 'ALEXANDER, DIANA' paid a total of $105.73.
Customer: 'ALLARD, GORDON' paid a total of $160.68.
Customer: 'ALLEN, SHIRLEY' paid a total of $126.69.
Customer: 'ALVAREZ, CHARLENE' paid a total of $114.73.
Customer: 'ANDERSON, LISA' paid a total of $106.76.
Customer: 'ANDREW, JOSE' paid a total of $96.75.
Customer: 'ANDREWS, IDA' paid a total of $76.77.
Customer: 'AQUINO, OSCAR' paid a total of $99.80.
Customer: 'ARCE, HARRY' paid a total of $157.65.
Customer: 'ARCHULETA, JORDAN' paid a total of $132.70.
Customer: 'ARMSTRONG, MELANIE' paid a total of $92.75.
Customer: 'ARNOLD, BEATRICE' paid a total of $119.74.
Customer: 'ARSENAULT, KENT' paid a total of $134.73.
Customer: 'ARTIS, CARL' paid a total of $106.77.
Customer: 'ASHCRAFT, DARRYL' paid a total of $76.77.
Customer: 'ASHER, TYRONE' paid a total of $112.76.
Customer: 'AUSTIN, ALMA' paid a total of $151.65.
Customer: 'BAILEY, MILDRED' paid a total of $98.75.
Customer: 'BAKER, PAMELA' paid a total of $95.77.
Customer: 'BALES, MARTIN' paid a total of $103.73.
Customer: 'BANDA, EVERETT' paid a total of $110.72.
Customer: 'BANKS, JESSIE' paid a total of $91.74.
Customer: 'BARBEE, CLAYTON' paid a total of $96.74.
Customer: 'BARCLAY, ANGEL' paid a total of $115.68.
Customer: 'BARFIELD, NICHOLAS' paid a total of $145.68.
Customer: 'BARKLEY, VICTOR' paid a total of $91.76.
Customer: 'BARNES, RACHEL' paid a total of $84.78.
Customer: 'BARNETT, CAROLE' paid a total of $108.70.
Customer: 'BARRETT, TRACEY' paid a total of $118.73.
Customer: 'BATES, DAISY' paid a total of $162.62.
Customer: 'BAUGH, EDWARD' paid a total of $114.72.
Customer: 'BAUGHMAN, ROBERT' paid a total of $92.79.
Customer: 'BELL, JEAN' paid a total of $115.73.
Customer: 'BENNER, CHESTER' paid a total of $99.76.
Customer: 'BENNETT, JANE' paid a total of $100.72.
Customer: 'BERRY, REGINA' paid a total of $135.66.
Customer: 'BESS, CHARLIE' paid a total of $120.74.
Customer: 'BETANCOURT, MIGUEL' paid a total of $135.71.
Customer: 'BILLINGSLEY, HENRY' paid a total of $73.82.
Customer: 'BISHOP, AGNES' paid a total of $98.77.
Customer: 'BLACK, VALERIE' paid a total of $121.74.
Customer: 'BLAKELY, DEREK' paid a total of $97.72.
Customer: 'BOLIN, MATHEW' paid a total of $90.78.
Customer: 'BONE, DON' paid a total of $133.75.
Customer: 'BOSTIC, LEON' paid a total of $109.75.
Customer: 'BOUDREAU, BOBBY' paid a total of $106.65.
Customer: 'BOURQUE, DERRICK' paid a total of $95.78.
Customer: 'BOWENS, CLIFFORD' paid a total of $113.71.
Customer: 'BOWMAN, CAROLINE' paid a total of $50.85.
Customer: 'BOX, BYRON' paid a total of $120.71.
Customer: 'BOYD, EMMA' paid a total of $94.77.
Customer: 'BRADLEY, ANA' paid a total of $174.66.
Customer: 'BREAUX, TED' paid a total of $117.71.
Customer: 'BREWER, VICKIE' paid a total of $120.69.
Customer: 'BRINSON, RUSSELL' paid a total of $136.64.
Customer: 'BROOKS, BEVERLY' paid a total of $97.76.
Customer: 'BROTHERS, CHRIS' paid a total of $84.78.
Customer: 'BROWN, ELIZABETH' paid a total of $144.62.
Customer: 'BROWNLEE, GUY' paid a total of $159.68.
Customer: 'BRYANT, PAULA' paid a total of $77.82.
Customer: 'BUFORD, CLINTON' paid a total of $103.75.
Customer: 'BULL, WESLEY' paid a total of $177.60.
Customer: 'BUNN, TIMOTHY' paid a total of $91.78.
Customer: 'BURK, EDWIN' paid a total of $116.77.
Customer: 'BURKE, LYDIA' paid a total of $82.76.
Customer: 'BURLESON, SIDNEY' paid a total of $108.75.
Customer: 'BURNS, APRIL' paid a total of $94.74.
Customer: 'BURTON, COLLEEN' paid a total of $87.76.
Customer: 'BUSTAMANTE, LEROY' paid a total of $118.68.
Customer: 'BUTLER, LOIS' paid a total of $113.65.
Customer: 'BUTTERFIELD, ALLEN' paid a total of $85.79.
Customer: 'BYRD, DEANNA' paid a total of $107.74.
Customer: 'CABRAL, DANIEL' paid a total of $97.80.
Customer: 'CALDWELL, KAY' paid a total of $98.80.
Customer: 'CAMPBELL, CATHERINE' paid a total of $142.66.
Customer: 'CARBONE, CHAD' paid a total of $89.75.
Customer: 'CARLSON, TERRY' paid a total of $127.71.
Customer: 'CARPENTER, LORETTA' paid a total of $93.78.
Customer: 'CARR, EILEEN' paid a total of $80.82.
Customer: 'CARRANZA, TONY' paid a total of $74.78.
Customer: 'CARROLL, JUNE' paid a total of $173.63.
Customer: 'CARTER, AMANDA' paid a total of $110.73.
Customer: 'CARY, TIM' paid a total of $175.61.
Customer: 'CASILLAS, ALFRED' paid a total of $120.74.
Customer: 'CASTILLO, GERTRUDE' paid a total of $137.66.
Customer: 'CASTRO, JENNY' paid a total of $103.73.
Customer: 'CAUSEY, PHILIP' paid a total of $121.69.
Customer: 'CHAMBERS, KRISTINA' paid a total of $109.72.
Customer: 'CHAPA, VERNON' paid a total of $88.82.
Customer: 'CHAPMAN, TONYA' paid a total of $161.68.
Customer: 'CHAVEZ, KRISTEN' paid a total of $87.82.
Customer: 'CHEATHAM, MARIO' paid a total of $112.72.
Customer: 'CHESTNUT, PEDRO' paid a total of $103.76.
Customer: 'CHISHOLM, JOHNNIE' paid a total of $121.76.
Customer: 'CHOATE, RAMON' paid a total of $140.69.
Customer: 'CHRISTENSON, NELSON' paid a total of $77.80.
Customer: 'CHURCHILL, FERNANDO' paid a total of $117.75.
Customer: 'CINTRON, AUSTIN' paid a total of $83.81.
Customer: 'CLARK, MICHELLE' paid a total of $155.65.
Customer: 'CLARY, ADRIAN' paid a total of $74.81.
Customer: 'COLBY, BERNARD' paid a total of $88.78.
Customer: 'COLE, TRACY' paid a total of $132.70.
Customer: 'COLEMAN, KATHRYN' paid a total of $130.74.
Customer: 'COLLAZO, TOMMY' paid a total of $186.62.
Customer: 'COLLINS, DIANE' paid a total of $169.65.
Customer: 'COOK, GLORIA' paid a total of $135.70.
Customer: 'COOPER, JOAN' paid a total of $84.77.
Customer: 'CORNISH, ALLAN' paid a total of $79.81.
Customer: 'CORNWELL, BRETT' paid a total of $138.66.
Customer: 'COUGHLIN, CARLOS' paid a total of $106.77.
Customer: 'COX, JUDITH' paid a total of $100.67.
Customer: 'COY, GARY' paid a total of $103.75.
Customer: 'CRAIG, BOBBIE' paid a total of $80.76.
Customer: 'CRAWFORD, ESTHER' paid a total of $95.72.
Customer: 'CRAWLEY, MAURICE' paid a total of $138.71.
Customer: 'CROMWELL, IVAN' paid a total of $99.74.
Customer: 'CROUSE, ALBERT' paid a total of $99.77.
Customer: 'CRUZ, KIM' paid a total of $82.79.
Customer: 'CULP, THEODORE' paid a total of $116.69.
Customer: 'CULPEPPER, EUGENE' paid a total of $71.81.
Customer: 'CUNNINGHAM, STACY' paid a total of $98.77.
Customer: 'CURLEY, STEVEN' paid a total of $132.71.
Customer: 'CURRIER, NORMAN' paid a total of $80.74.
Customer: 'CURTIS, LEAH' paid a total of $104.75.
Customer: 'DANIELS, DANIELLE' paid a total of $105.75.
Customer: 'DAVIDSON, PATSY' paid a total of $119.72.
Customer: 'DAVIS, JENNIFER' paid a total of $93.72.
Customer: 'DAY, COURTNEY' paid a total of $132.68.
Customer: 'DEAN, MARCIA' paid a total of $175.58.
Customer: 'DELOACH, ALVIN' paid a total of $139.71.
Customer: 'DELUCA, RON' paid a total of $103.77.
Customer: 'DELVALLE, WADE' paid a total of $83.78.
Customer: 'DEVORE, HERMAN' paid a total of $115.71.
Customer: 'DIAZ, EMILY' paid a total of $91.76.
Customer: 'DIXON, AMBER' paid a total of $113.73.
Customer: 'DOUGLAS, MARSHA' paid a total of $151.63.
Customer: 'DOUGLASS, SEAN' paid a total of $91.77.
Customer: 'DOWD, LLOYD' paid a total of $66.81.
Customer: 'DUGGAN, FREDDIE' paid a total of $99.75.
Customer: 'DUNCAN, SAMANTHA' paid a total of $71.77.
Customer: 'DUNN, ERIN' paid a total of $106.73.
Customer: 'EAST, JEFF' paid a total of $107.70.
Customer: 'EASTER, BEN' paid a total of $122.74.
Customer: 'EBERT, LEO' paid a total of $104.77.
Customer: 'EDWARDS, JOYCE' paid a total of $130.72.
Customer: 'EGGLESTON, JIMMIE' paid a total of $135.72.
Customer: 'ELLINGTON, MELVIN' paid a total of $97.74.
Customer: 'ELLIOTT, KATIE' paid a total of $109.75.
Customer: 'ELLIS, GRACE' paid a total of $139.67.
Customer: 'ELROD, JAVIER' paid a total of $135.68.
Customer: 'ELY, JARED' paid a total of $87.81.
Customer: 'EMMONS, KURT' paid a total of $99.77.
Customer: 'ESTEP, TRAVIS' paid a total of $110.75.
Customer: 'EVANS, ANN' paid a total of $76.83.
Customer: 'FARNSWORTH, JOHN' paid a total of $137.69.
Customer: 'FENNELL, ALEXANDER' paid a total of $151.64.
Customer: 'FERGUSON, BERTHA' paid a total of $101.75.
Customer: 'FERNANDEZ, MELINDA' paid a total of $80.83.
Customer: 'FIELDS, VICKI' paid a total of $108.75.
Customer: 'FISHER, CINDY' paid a total of $113.71.
Customer: 'FLEMING, MYRTLE' paid a total of $110.76.
Customer: 'FLETCHER, MAE' paid a total of $158.69.
Customer: 'FLORES, JULIA' paid a total of $134.68.
Customer: 'FORD, CRYSTAL' paid a total of $137.67.
Customer: 'FORMAN, MICHEAL' paid a total of $102.74.
Customer: 'FORSYTHE, ENRIQUE' paid a total of $96.72.
Customer: 'FORTIER, RAUL' paid a total of $100.80.
Customer: 'FORTNER, HOWARD' paid a total of $93.74.
Customer: 'FOSTER, PHYLLIS' paid a total of $91.77.
Customer: 'FOUST, JACK' paid a total of $89.76.
Customer: 'FOWLER, JO' paid a total of $73.80.
Customer: 'FOX, HOLLY' paid a total of $114.69.
Customer: 'FRALEY, JUAN' paid a total of $73.77.
Customer: 'FRANCISCO, JOEL' paid a total of $95.77.
Customer: 'FRANKLIN, BETH' paid a total of $103.75.
Customer: 'FRAZIER, GLENDA' paid a total of $140.68.
Customer: 'FREEMAN, SHANNON' paid a total of $100.76.
Customer: 'FULLER, CLAUDIA' paid a total of $111.74.
Customer: 'FULTZ, GERALD' paid a total of $121.70.
Customer: 'GAFFNEY, FELIX' paid a total of $73.76.
Customer: 'GAITHER, RANDY' paid a total of $110.72.
Customer: 'GAMEZ, CLARENCE' paid a total of $104.70.
Customer: 'GANDY, FLOYD' paid a total of $69.83.
Customer: 'GANNON, JAMES' paid a total of $131.70.
Customer: 'GARCIA, CAROL' paid a total of $91.78.
Customer: 'GARDINER, DAVE' paid a total of $134.68.
Customer: 'GARDNER, JOANN' paid a total of $66.84.
Customer: 'GARRETT, NELLIE' paid a total of $94.79.
Customer: 'GARZA, PEARL' paid a total of $76.78.
Customer: 'GAVIN, BILL' paid a total of $114.72.
Customer: 'GEARY, RUBEN' paid a total of $89.79.
Customer: 'GEORGE, JOY' paid a total of $124.67.
Customer: 'GIBSON, VICTORIA' paid a total of $111.73.
Customer: 'GILBERT, TANYA' paid a total of $144.67.
Customer: 'GILLETTE, DUSTIN' paid a total of $100.74.
Customer: 'GILLILAND, JOE' paid a total of $138.71.
Customer: 'GILMAN, DENNIS' paid a total of $114.72.
Customer: 'GOMEZ, JOSEPHINE' paid a total of $109.74.
Customer: 'GONZALES, NORMA' paid a total of $79.79.
Customer: 'GONZALEZ, MARTHA' paid a total of $127.66.
Customer: 'GOOCH, ADAM' paid a total of $101.78.
Customer: 'GOODEN, KENNETH' paid a total of $84.83.
Customer: 'GORDON, LESLIE' paid a total of $89.78.
Customer: 'GRAF, DOUGLAS' paid a total of $114.75.
Customer: 'GRAHAM, RITA' paid a total of $92.76.
Customer: 'GRANT, MICHELE' paid a total of $130.70.
Customer: 'GRAVES, BRANDY' paid a total of $122.72.
Customer: 'GRAY, JUDY' paid a total of $96.75.
Customer: 'GRECO, CHRISTOPHER' paid a total of $147.69.
Customer: 'GREEN, VIRGINIA' paid a total of $129.68.
Customer: 'GREENE, JEANETTE' paid a total of $74.80.
Customer: 'GREGORY, SONIA' paid a total of $126.72.
Customer: 'GRESHAM, ALEX' paid a total of $151.67.
Customer: 'GREY, ROSS' paid a total of $99.73.
Customer: 'GRIFFIN, LILLIAN' paid a total of $106.75.
Customer: 'GRIGSBY, THOMAS' paid a total of $105.75.
Customer: 'GRISSOM, TERRY' paid a total of $72.80.
Customer: 'GRUBER, ARMANDO' paid a total of $83.79.
Customer: 'GUAJARDO, HARVEY' paid a total of $93.78.
Customer: 'GUILLEN, ERIK' paid a total of $118.71.
Customer: 'GUNDERSON, TERRENCE' paid a total of $117.70.
Customer: 'GUTIERREZ, CARLA' paid a total of $103.74.
Customer: 'HALE, RAMONA' paid a total of $129.70.
Customer: 'HALL, JESSICA' paid a total of $152.66.
Customer: 'HAMILTON, GLADYS' paid a total of $146.69.
Customer: 'HANNON, SETH' paid a total of $112.75.
Customer: 'HANSEN, DELORES' paid a total of $91.79.
Customer: 'HANSON, VIOLA' paid a total of $129.68.
Customer: 'HARDER, GABRIEL' paid a total of $111.74.
Customer: 'HARDISON, BRYAN' paid a total of $124.72.
Customer: 'HARKINS, BRENT' paid a total of $112.77.
Customer: 'HARPER, ROBERTA' paid a total of $84.77.
Customer: 'HARRIS, HELEN' paid a total of $134.68.
Customer: 'HARRISON, WENDY' paid a total of $91.70.
Customer: 'HART, DANA' paid a total of $133.71.
Customer: 'HARVEY, ARLENE' paid a total of $120.74.
Customer: 'HAUSER, COREY' paid a total of $101.78.
Customer: 'HAVENS, ARNOLD' paid a total of $167.67.
Customer: 'HAWKINS, JILL' paid a total of $68.79.
Customer: 'HAWKS, LEE' paid a total of $119.73.
Customer: 'HAYES, ROBIN' paid a total of $102.76.
Customer: 'HEATON, SHAWN' paid a total of $152.67.
Customer: 'HENDERSON, ANDREA' paid a total of $93.78.
Customer: 'HENNING, ALBERTO' paid a total of $66.79.
Customer: 'HENRY, PAULINE' paid a total of $98.73.
Customer: 'HERNANDEZ, ANGELA' paid a total of $140.64.
Customer: 'HERRERA, NORA' paid a total of $118.72.
Customer: 'HERRMANN, TRACY' paid a total of $129.72.
Customer: 'HERZOG, CLAUDE' paid a total of $111.75.
Customer: 'HIATT, EDUARDO' paid a total of $130.73.
Customer: 'HICKS, MONICA' paid a total of $128.70.
Customer: 'HIDALGO, MARCUS' paid a total of $115.70.
Customer: 'HILL, ANNA' paid a total of $91.79.
Customer: 'HITE, ZACHARY' paid a total of $146.69.
Customer: 'HOFFMAN, MATTIE' paid a total of $64.78.
Customer: 'HOLLAND, MABEL' paid a total of $112.70.
Customer: 'HOLM, PHILLIP' paid a total of $101.74.
Customer: 'HOLMES, LUCILLE' paid a total of $108.72.
Customer: 'HOLT, TONI' paid a total of $95.77.
Customer: 'HOPKINS, HILDA' paid a total of $122.71.
Customer: 'HORTON, BILLIE' paid a total of $88.74.
Customer: 'HOULE, RAY' paid a total of $79.78.
Customer: 'HOWARD, ROSE' paid a total of $103.78.
Customer: 'HOWELL, WILLIE' paid a total of $101.74.
Customer: 'HOWLAND, MILTON' paid a total of $127.75.
Customer: 'HUDSON, LAUREN' paid a total of $71.80.
Customer: 'HUEY, BRANDON' paid a total of $152.63.
Customer: 'HUGHES, BONNIE' paid a total of $87.79.
Customer: 'HUNT, ELEANOR' paid a total of $216.54.
Customer: 'HUNTER, CHARLOTTE' paid a total of $93.76.
Customer: 'HURTADO, JEREMY' paid a total of $103.72.
Customer: 'IRBY, CURTIS' paid a total of $167.62.
Customer: 'ISBELL, FREDERICK' paid a total of $105.79.
Customer: 'ISOM, DANNY' paid a total of $91.79.
Customer: 'JACKSON, KAREN' paid a total of $131.73.
Customer: 'JACOBS, GEORGIA' paid a total of $110.74.
Customer: 'JAMES, KATHY' paid a total of $129.70.
Customer: 'JENKINS, LOUISE' paid a total of $101.75.
Customer: 'JENNINGS, NAOMI' paid a total of $152.65.
Customer: 'JENSEN, LENA' paid a total of $170.67.
Customer: 'JIMENEZ, OLGA' paid a total of $144.68.
Customer: 'JOHNSON, PATRICIA' paid a total of $128.73.
Customer: 'JOHNSTON, KRISTIN' paid a total of $116.69.
Customer: 'JONES, BARBARA' paid a total of $81.78.
Customer: 'JORDAN, TIFFANY' paid a total of $59.86.
Customer: 'JORDON, JERRY' paid a total of $143.71.
Customer: 'JOY, JOSEPH' paid a total of $134.70.
Customer: 'JUNG, CHRISTIAN' paid a total of $88.76.
Customer: 'KAHN, ALAN' paid a total of $124.74.
Customer: 'KELLEY, ELSIE' paid a total of $141.63.
Customer: 'KELLY, DENISE' paid a total of $103.73.
Customer: 'KENNEDY, RHONDA' paid a total of $194.61.
Customer: 'KENYON, JEROME' paid a total of $73.84.
Customer: 'KIM, LILLIE' paid a total of $89.77.
Customer: 'KINDER, REGINALD' paid a total of $115.72.
Customer: 'KING, MELISSA' paid a total of $123.66.
Customer: 'KNIGHT, GAIL' paid a total of $109.75.
Customer: 'KNOTT, KELLY' paid a total of $107.74.
Customer: 'KOWALSKI, CHARLES' paid a total of $138.68.
Customer: 'KRAUS, LESTER' paid a total of $65.84.
Customer: 'KRUGER, HERBERT' paid a total of $78.80.
Customer: 'LAMBERT, MISTY' paid a total of $118.73.
Customer: 'LANCE, JACOB' paid a total of $79.79.
Customer: 'LANE, RENEE' paid a total of $97.74.
Customer: 'LARSON, HEIDI' paid a total of $122.66.
Customer: 'LARUE, DARYL' paid a total of $111.73.
Customer: 'LAWRENCE, LAURIE' paid a total of $99.77.
Customer: 'LAWSON, JEANNE' paid a total of $136.73.
Customer: 'LAWTON, LAWRENCE' paid a total of $100.69.
Customer: 'LEE, KIMBERLY' paid a total of $95.75.
Customer: 'LEONE, LOUIS' paid a total of $161.65.
Customer: 'LEWIS, SARAH' paid a total of $119.70.
Customer: 'LINTON, GEORGE' paid a total of $131.67.
Customer: 'LITTLE, MAUREEN' paid a total of $87.79.
Customer: 'LOMBARDI, DWIGHT' paid a total of $74.83.
Customer: 'LONG, JACQUELINE' paid a total of $148.67.
Customer: 'LOPEZ, AMY' paid a total of $127.71.
Customer: 'LOVELACE, BARRY' paid a total of $134.67.
Customer: 'LOWE, PRISCILLA' paid a total of $157.65.
Customer: 'LUCAS, VELMA' paid a total of $117.73.
Customer: 'LUMPKIN, WILLARD' paid a total of $96.78.
Customer: 'LYMAN, LEWIS' paid a total of $86.81.
Customer: 'LYNCH, JACKIE' paid a total of $93.75.
Customer: 'MACKENZIE, STEVE' paid a total of $158.66.
Customer: 'MADRIGAL, RALPH' paid a total of $150.66.
Customer: 'MAHAN, MATTHEW' paid a total of $114.69.
Customer: 'MAHON, DONALD' paid a total of $89.77.
Customer: 'MALCOLM, CLIFTON' paid a total of $118.72.
Customer: 'MARK, JOSHUA' paid a total of $119.70.
Customer: 'MARKHAM, WILLIE' paid a total of $101.75.
Customer: 'MARLOW, SAMUEL' paid a total of $80.79.
Customer: 'MARSHALL, SHERRY' paid a total of $153.66.
Customer: 'MARTEL, CALVIN' paid a total of $111.77.
Customer: 'MARTIN, SANDRA' paid a total of $120.71.
Customer: 'MARTINEZ, RUTH' paid a total of $125.76.
Customer: 'MARTINO, HAROLD' paid a total of $130.68.
Customer: 'MASON, JUANITA' paid a total of $110.70.
Customer: 'MATTHEWS, ERICA' paid a total of $95.78.
Customer: 'MATTOX, RICK' paid a total of $124.73.
Customer: 'MAULDIN, GREGORY' paid a total of $78.77.
Customer: 'MAY, GWENDOLYN' paid a total of $98.75.
Customer: 'MCADAMS, ALFREDO' paid a total of $85.80.
Customer: 'MCALISTER, RENE' paid a total of $113.74.
Customer: 'MCCARTER, MORRIS' paid a total of $139.66.
Customer: 'MCCARTNEY, JESUS' paid a total of $114.76.
Customer: 'MCCOY, VERA' paid a total of $67.82.
Customer: 'MCCRARY, RICHARD' paid a total of $109.75.
Customer: 'MCCURDY, BRAD' paid a total of $105.75.
Customer: 'MCDONALD, EDITH' paid a total of $71.81.
Customer: 'MCDUFFIE, SAM' paid a total of $117.76.
Customer: 'MCKINNEY, MIRIAM' paid a total of $135.74.
Customer: 'MCWHORTER, RAYMOND' paid a total of $135.70.
Customer: 'MEADOR, RICARDO' paid a total of $99.79.
Customer: 'MEDINA, DORA' paid a total of $107.77.
Customer: 'MEEHAN, CORY' paid a total of $81.76.
Customer: 'MEEK, ANTONIO' paid a total of $78.84.
Customer: 'MENA, CASEY' paid a total of $141.66.
Customer: 'MENARD, PETER' paid a total of $106.77.
Customer: 'MENDOZA, MARIAN' paid a total of $107.77.
Customer: 'MEYER, NATALIE' paid a total of $95.77.
Customer: 'MILAM, JESSIE' paid a total of $141.67.
Customer: 'MILES, BECKY' paid a total of $115.71.
Customer: 'MILLARD, SHANE' paid a total of $95.78.
Customer: 'MILLER, MARIA' paid a total of $151.67.
Customer: 'MILLS, ALICIA' paid a total of $83.79.
Customer: 'MILNER, TOM' paid a total of $107.68.
Customer: 'MITCHELL, STEPHANIE' paid a total of $118.75.
Customer: 'MOELLER, RODNEY' paid a total of $104.77.
Customer: 'MONTGOMERY, STACEY' paid a total of $151.66.
Customer: 'MOORE, MARGARET' paid a total of $89.77.
Customer: 'MORALES, ANITA' paid a total of $62.85.
Customer: 'MORENO, STELLA' paid a total of $104.78.
Customer: 'MORGAN, EVELYN' paid a total of $114.72.
Customer: 'MORRELL, CRAIG' paid a total of $124.70.
Customer: 'MORRIS, HEATHER' paid a total of $115.70.
Customer: 'MORRISON, BESSIE' paid a total of $132.72.
Customer: 'MORRISSEY, JASON' paid a total of $128.72.
Customer: 'MOTLEY, BRADLEY' paid a total of $126.73.
Customer: 'MURPHY, CHERYL' paid a total of $133.73.
Customer: 'MURRAY, THELMA' paid a total of $126.68.
Customer: 'MURRELL, MANUEL' paid a total of $116.70.
Customer: 'MYERS, PEGGY' paid a total of $96.76.
Customer: 'NEAL, PENNY' paid a total of $68.82.
Customer: 'NELSON, DEBRA' paid a total of $141.71.

In [86]:
#* 7a. The music of Queen and Kris Kristofferson have seen an unlikely resurgence. As an unintended consequence, 
#films starting with the letters `K` and `Q` have also soared in popularity. 
#Use subqueries to display the titles of movies starting with the letters `K` and `Q` whose language is English. 
lang=Base.classes.language
combo6=session.query(film.title).filter(or_(film.title.like("K%"),film.title.like("Q%")))\
    .filter(lang.language_id==film.language_id).filter(lang.name=="English").all()
for name in combo6:
    print(name)

('KANE EXORCIST',)
('KARATE MOON',)
('KENTUCKIAN GIANT',)
('KICK SAVANNAH',)
('KILL BROTHERHOOD',)
('KILLER INNOCENT',)
('KING EVOLUTION',)
('KISS GLORY',)
('KISSING DOLLS',)
('KNOCK WARLOCK',)
('KRAMER CHOCOLATE',)
('KWAI HOMEWARD',)
('QUEEN LUKE',)
('QUEST MUSSOLINI',)
('QUILLS BULL',)

In [91]:
#7b. Use subqueries to display all actors who appear in the film `Alone Trip`.
act=Base.classes.actor
film_to_find="Alone Trip"
list_actors=session.query(act.first_name, act.last_name).filter(act.actor_id==f_a.actor_id)\
    .filter(f_a.film_id==film.film_id).filter(film.title==film_to_find).all()
print("The actors in "+film_to_find+" include: ")
for name in list_actors:
    (first_n, last_n)=name
    print(first_n+" "+last_n)

The actors in Alone Trip include:
ED CHASE
KARL BERRY
UMA WOOD
WOODY JOLIE
SPENCER DEPP
CHRIS DEPP
LAURENCE BULLOCK
RENEE BALL

In [93]:
#* 7c. You want to run an email marketing campaign in Canada, 
#for which you will need the names and email addresses of all Canadian customers. 
#Use joins to retrieve this information.
country=Base.classes.country
city=Base.classes.city
country_to_find="Canada"
northern_friends=session.query(c.first_name, c.last_name, c.email).filter(c.address_id==address.address_id)\
    .filter(address.city_id==city.city_id).filter(city.country_id==country.country_id)\
    .filter(country.country==country_to_find).all()
print("Our Canadian customers: ")
for record in northern_friends:
    (f_n, l_n, email)=record
    print(f"{f_n} {l_n} can be reached at: {email}")

Our Canadian customers:
DERRICK BOURQUE can be reached at: DERRICK.BOURQUE@sakilacustomer.org
DARRELL POWER can be reached at: DARRELL.POWER@sakilacustomer.org
LORETTA CARPENTER can be reached at: LORETTA.CARPENTER@sakilacustomer.org
CURTIS IRBY can be reached at: CURTIS.IRBY@sakilacustomer.org
TROY QUIGLEY can be reached at: TROY.QUIGLEY@sakilacustomer.org

In [94]:
#7d. Sales have been lagging among young families, and you wish to target all family movies for a promotion. 
#Identify all movies categorized as famiy films.

category=Base.classes.category
f_cat=Base.classes.film_category
film_type="Family"
films_to_promote=session.query(film.title)\
    .filter(film.film_id==f_cat.film_id).filter(f_cat.category_id==category.category_id)\
    .filter(category.name==film_type).all()
print(f"Our {film_type} films: ")
for record in films_to_promote:
    print(record)

Our Family films:
('AFRICAN EGG',)
('APACHE DIVINE',)
('ATLANTIS CAUSE',)
('BAKED CLEOPATRA',)
('BANG KWAI',)
('BEDAZZLED MARRIED',)
('BILKO ANONYMOUS',)
('BLANKET BEVERLY',)
('BLOOD ARGONAUTS',)
('BLUES INSTINCT',)
('BRAVEHEART HUMAN',)
('CHASING FIGHT',)
('CHISUM BEHAVIOR',)
('CHOCOLAT HARRY',)
('CONFUSED CANDLES',)
('CONVERSATION DOWNHILL',)
('DATE SPEED',)
('DINOSAUR SECRETARY',)
('DUMBO LUST',)
('EARRING INSTINCT',)
('EFFECT GLADIATOR',)
('FEUD FROGMEN',)
('FINDING ANACONDA',)
('GABLES METROPOLIS',)
('GANDHI KWAI',)
('GLADIATOR WESTWARD',)
('GREASE YOUTH',)
('HALF OUTFIELD',)
('HOCUS FRIDA',)
('HOMICIDE PEACH',)
('HOUSE DYNAMITE',)
('HUNTING MUSKETEERS',)
('INDIAN LOVE',)
('JASON TRAP',)
('JEDI BENEATH',)
('KILLER INNOCENT',)
('KING EVOLUTION',)
('LOLITA WORLD',)
('LOUISIANA HARRY',)
('MAGUIRE APACHE',)
('MANCHURIAN CURTAIN',)
('MOVIE SHAKESPEARE',)
('MUSIC BOONDOCK',)
('NATURAL STOCK',)
('NETWORK PEAK',)
('ODDS BOOGIE',)
('OPPOSITE NECKLACE',)
('PILOT HOOSIERS',)
('PITTSBURGH HUNCHBACK',)
('PRESIDENT BANG',)
('PRIX UNDEFEATED',)
('RAGE GAMES',)
('RANGE MOONWALKER',)
('REMEMBER DIARY',)
('RESURRECTION SILVERADO',)
('ROBBERY BRIGHT',)
('RUSH GOODFELLAS',)
('SECRETS PARADISE',)
('SENSIBILITY REAR',)
('SIEGE MADRE',)
('SLUMS DUCK',)
('SOUP WISDOM',)
('SPARTACUS CHEAPER',)
('SPINAL ROCKY',)
('SPLASH GUMP',)
('SUNSET RACER',)
('SUPER WYOMING',)
('VIRTUAL SPOILERS',)
('WILLOW TRACY',)

In [106]:
#7e. Display the most frequently rented movies in descending order.
rental=Base.classes.rental
rental_freq=session.query(film.title,  func.sum(rental.inventory_id))\
    .filter(film.film_id==inv.film_id).filter(inv.inventory_id==rental.inventory_id)\
    .group_by(film.title).order_by(func.sum(rental.inventory_id).desc()).all()
#
for record in rental_freq:
    (title, rents)=record
    print(f"{title} was rented {rents} times.")

ZORRO ARK was rented 141905 times.
WIFE TURN was rented 138079 times.
WITCHES PANIC was rented 134430 times.
TIMBERLAND SKY was rented 126786 times.
VIRGINIAN PLUTO was rented 125759 times.
VIDEOTAPE ARSENIC was rented 125274 times.
VOYAGE LEGALLY was rented 122143 times.
SUSPECTS QUILLS was rented 119618 times.
TITANS JERK was rented 119043 times.
WARDROBE PHANTOM was rented 118439 times.
TRIP NEWTON was rented 117156 times.
TALENTED HOMICIDE was rented 116534 times.
SWEETHEARTS SUSPECTS was rented 116301 times.
WESTWARD SEABISCUIT was rented 115360 times.
WORKING MICROCOSMOS was rented 113316 times.
STORM HAPPINESS was rented 112652 times.
SCALAWAG DUCK was rented 112073 times.
VELVET TERMINATOR was rented 111966 times.
TORQUE BOUND was rented 111467 times.
ROCKETEER MOTHER was rented 111001 times.
STORY SIDE was rented 108976 times.
TELEGRAPH VOYAGE was rented 108971 times.
SHOCK CABIN was rented 108344 times.
SWARM GOLD was rented 107869 times.
TRACY CIDER was rented 107850 times.
RUSH GOODFELLAS was rented 106477 times.
RIDGEMONT SUBMARINE was rented 106201 times.
TIGHTS DAWN was rented 106157 times.
WEDDING APOLLO was rented 106042 times.
YENTL IDAHO was rented 104866 times.
TRADING PINOCCHIO was rented 103873 times.
ROBBERS JOON was rented 103724 times.
WOMEN DORADO was rented 103485 times.
SPY MILE was rented 102991 times.
TOMORROW HUSTLER was rented 102919 times.
WIND PHANTOM was rented 102774 times.
RUGRATS SHAKESPEARE was rented 102444 times.
WASH HEAVENLY was rented 101128 times.
TELEMARK HEARTBREAKERS was rented 101092 times.
STAGECOACH ARMAGEDDON was rented 99515 times.
WONDERLAND CHRISTMAS was rented 99237 times.
SUN CONFESSIONS was rented 98984 times.
STREETCAR INTENTIONS was rented 98096 times.
WHISPERER GIANT was rented 97844 times.
SATURDAY LAMBS was rented 97659 times.
TRUMAN CRAZY was rented 96829 times.
TROUBLE DATE was rented 96678 times.
PULP BEVERLY was rented 95861 times.
VOLCANO TEXAS was rented 95834 times.
SUNRISE LEAGUE was rented 95312 times.
ROSES TREASURE was rented 95096 times.
WOLVES DESIRE was rented 94343 times.
TITANIC BOONDOCK was rented 94234 times.
STRANGELOVE DESIRE was rented 93717 times.
SEABISCUIT PUNK was rented 91904 times.
WAIT CIDER was rented 91794 times.
WRONG BEHAVIOR was rented 90997 times.
TOURIST PELICAN was rented 90968 times.
SHOW LORD was rented 90643 times.
STRICTLY SCARFACE was rented 90405 times.
SHEPHERD MIDSUMMER was rented 89923 times.
VACATION BOONDOCK was rented 89765 times.
UNDEFEATED DALMATIONS was rented 89083 times.
UNBREAKABLE KARATE was rented 88869 times.
SLUMS DUCK was rented 88867 times.
STEEL SANTA was rented 88583 times.
SLEEPING SUSPECTS was rented 88201 times.
NETWORK PEAK was rented 87783 times.
RANGE MOONWALKER was rented 87728 times.
SHOOTIST SUPERFLY was rented 86864 times.
SAMURAI LION was rented 86711 times.
PRINCESS GIANT was rented 85956 times.
SNOWMAN ROLLERCOASTER was rented 85853 times.
PRIMARY GLASS was rented 85741 times.
SEATTLE EXPECATIONS was rented 85078 times.
TRAMP OTHERS was rented 83360 times.
MUSCLE BRIGHT was rented 83242 times.
SUIT WALLS was rented 82898 times.
SOUTH WAIT was rented 82756 times.
VOICE PEACH was rented 82646 times.
SNATCH SLIPPER was rented 81913 times.
WONKA SEA was rented 81309 times.
POCUS PULP was rented 81282 times.
STING PERSONAL was rented 81256 times.
ROMAN PUNK was rented 81084 times.
SCORPION APOLLO was rented 80984 times.
PITY BOUND was rented 80868 times.
STAR OPERATION was rented 80643 times.
SINNERS ATLANTIS was rented 80575 times.
WHALE BIKINI was rented 79965 times.
SPLENDOR PATTON was rented 79885 times.
TROJAN TOMORROW was rented 79642 times.
WEEKEND PERSONAL was rented 79630 times.
SALUTE APOLLO was rented 79625 times.
PELICAN COMFORTS was rented 79349 times.
SHAKESPEARE SADDLE was rented 78638 times.
MOON BUNCH was rented 78601 times.
OPERATION OPERATION was rented 78432 times.
STRAIGHT HOURS was rented 77975 times.
ZOOLANDER FICTION was rented 77712 times.
SEA VIRGIN was rented 77613 times.
SLEUTH ORIENT was rented 77510 times.
SLEEPY JAPANESE was rented 77411 times.
VANISHING ROCKY was rented 77321 times.
THIEF PELICAN was rented 77308 times.
STEPMOM DREAM was rented 77233 times.
MASSACRE USUAL was rented 77160 times.
NONE SPIKING was rented 77027 times.
UNFORGIVEN ZOOLANDER was rented 76518 times.
MARRIED GO was rented 76484 times.
SPICE SORORITY was rented 75545 times.
SUNDANCE INVASION was rented 75342 times.
WATERFRONT DELIVERANCE was rented 74994 times.
SECRET GROUNDHOG was rented 74550 times.
MOVIE SHAKESPEARE was rented 74263 times.
SLEEPLESS MONSOON was rented 73626 times.
VIRGIN DAISY was rented 73614 times.
OSCAR GOLD was rented 73273 times.
WORST BANGER was rented 72640 times.
JUGGLER HARDLY was rented 72424 times.
WORDS HUNTER was rented 72362 times.
UNITED PILOT was rented 72352 times.
SABRINA MIDNIGHT was rented 72326 times.
SWEDEN SHINING was rented 72010 times.
WIZARD COLDBLOODED was rented 71785 times.
WILLOW TRACY was rented 71407 times.
SECRETS PARADISE was rented 71235 times.
PACIFIC AMISTAD was rented 71196 times.
NIGHTMARE CHILL was rented 71152 times.
SOMETHING DUCK was rented 71076 times.
OZ LIAISONS was rented 71058 times.
WEST LION was rented 70909 times.
QUEEN LUKE was rented 70698 times.
PHILADELPHIA WIFE was rented 70695 times.
WATCH TRACY was rented 70498 times.
ORANGE GRAPES was rented 70048 times.
WANDA CHAMBER was rented 70022 times.
PATTON INTERVIEW was rented 69721 times.
RESURRECTION SILVERADO was rented 69359 times.
VARSITY TRIP was rented 68818 times.
TEEN APOLLO was rented 68517 times.
TAXI KICK was rented 68441 times.
SHAWSHANK BUBBLE was rented 68221 times.
UPRISING UPTOWN was rented 68200 times.
WORKER TARZAN was rented 67910 times.
METROPOLIS COMA was rented 67815 times.
ROOM ROMAN was rented 67689 times.
OUTBREAK DIVINE was rented 67689 times.
OTHERS SOUP was rented 67553 times.
SUGAR WONKA was rented 67012 times.
TRAP GUYS was rented 66827 times.
SMOKING BARBARELLA was rented 66821 times.
RIVER OUTLAW was rented 66656 times.
STRANGERS GRAFFITI was rented 66527 times.
REUNION WITCHES was rented 66159 times.
WASTELAND DIVINE was rented 66025 times.
LOSE INCH was rented 65709 times.
REIGN GENTLEMEN was rented 65631 times.
MALKOVICH PET was rented 65554 times.
PACKER MADIGAN was rented 65394 times.
REDEMPTION COMFORTS was rented 65380 times.
PIRATES ROXANNE was rented 65111 times.
METAL ARMAGEDDON was rented 65004 times.
LOATHING LEGALLY was rented 64955 times.
VIETNAM SMOOCHY was rented 64885 times.
ROXANNE REBEL was rented 64751 times.
PIANIST OUTFIELD was rented 64681 times.
LIES TREATMENT was rented 64476 times.
QUEST MUSSOLINI was rented 64396 times.
NAME DETECTIVE was rented 64323 times.
VALLEY PACKER was rented 64232 times.
MOCKINGBIRD HOLLYWOOD was rented 64085 times.
SECRETARY ROUGE was rented 64001 times.
MURDER ANTITRUST was rented 63643 times.
WRATH MILE was rented 63625 times.
ROAD ROXANNE was rented 63459 times.
SUMMER SCARFACE was rented 63246 times.
PREJUDICE OLEANDER was rented 63231 times.
MALLRATS UNITED was rented 63199 times.
SCARFACE BANG was rented 63175 times.
STREAK RIDGEMONT was rented 62680 times.
REQUIEM TYCOON was rented 62594 times.
TRANSLATION SUMMER was rented 62585 times.
SLACKER LIAISONS was rented 62363 times.
IDOLS SNATCHERS was rented 62293 times.
MADNESS ATTACKS was rented 62158 times.
WEREWOLF LOLA was rented 61991 times.
PINOCCHIO SIMON was rented 61892 times.
TOOTSIE PILOT was rented 61838 times.
RAGE GAMES was rented 61481 times.
ROUGE SQUAD was rented 61257 times.
PEAK FOREVER was rented 60920 times.
OPEN AFRICAN was rented 60855 times.
VIRTUAL SPOILERS was rented 60797 times.
MAIDEN HOME was rented 60183 times.
SWEET BROTHERHOOD was rented 60075 times.
HOBBIT ALIEN was rented 59729 times.
POND SEATTLE was rented 59699 times.
UNCUT SUICIDES was rented 59315 times.
WYOMING STORM was rented 59215 times.
REMEMBER DIARY was rented 59196 times.
SATISFACTION CONFIDENTIAL was rented 59178 times.
SLIPPER FIDELITY was rented 59159 times.
SUBMARINE BED was rented 59052 times.
TURN STAR was rented 58999 times.
OUTFIELD MASSACRE was rented 58981 times.
TROOPERS METAL was rented 58767 times.
INVASION CYCLONE was rented 58542 times.
SILENCE KANE was rented 58417 times.
RACER EGG was rented 58135 times.
LOLA AGENT was rented 57999 times.
TOWN ARK was rented 57997 times.
STEERS ARMAGEDDON was rented 57847 times.
MIDSUMMER GROUNDHOG was rented 57718 times.
MOURNING PURPLE was rented 57642 times.
ROOTS REMEMBER was rented 57629 times.
TOMATOES HELLFIGHTERS was rented 57557 times.
PATIENT SISTER was rented 57379 times.
NORTHWEST POLISH was rented 57326 times.
MOONSHINE CABIN was rented 57067 times.
ROCK INSTINCT was rented 57055 times.
SPIRIT FLINTSTONES was rented 56874 times.
ISLAND EXORCIST was rented 56704 times.
POLLOCK DELIVERANCE was rented 56452 times.
POLISH BROOKLYN was rented 56370 times.
GRIT CLOCKWORK was rented 56333 times.
SONS INTERVIEW was rented 56240 times.
MALTESE HOPE was rented 55768 times.
HARRY IDAHO was rented 55571 times.
USUAL UNTOUCHABLES was rented 55507 times.
KNOCK WARLOCK was rented 55489 times.
REAR TRADING was rented 55413 times.
SAGEBRUSH CLUELESS was rented 55252 times.
INNOCENT USUAL was rented 55204 times.
TUXEDO MILE was rented 54846 times.
RULES HUMAN was rented 54725 times.
SIERRA DIVIDE was rented 54686 times.
NOVOCAINE FLIGHT was rented 54678 times.
SIEGE MADRE was rented 54620 times.
JUMPING WRATH was rented 54542 times.
SHREK LICENSE was rented 54450 times.
STOCK GLASS was rented 54257 times.
SHIP WONDERLAND was rented 54080 times.
PARADISE SABRINA was rented 53937 times.
ROCKY WAR was rented 53916 times.
HORROR REIGN was rented 53828 times.
MONEY HAROLD was rented 53774 times.
STAMPEDE DISTURBING was rented 53682 times.
WINDOW SIDE was rented 53676 times.
POTTER CONNECTICUT was rented 53643 times.
NEIGHBORS CHARADE was rented 53566 times.
POSEIDON FOREVER was rented 53517 times.
KWAI HOMEWARD was rented 53401 times.
NATIONAL STORY was rented 53328 times.
HYDE DOCTOR was rented 53284 times.
SPLASH GUMP was rented 53178 times.
MUSIC BOONDOCK was rented 52834 times.
JASON TRAP was rented 52829 times.
MINDS TRUMAN was rented 52810 times.
SCISSORHANDS SLUMS was rented 52740 times.
MILLION ACE was rented 52706 times.
TENENBAUMS COMMAND was rented 52693 times.
WAR NOTTING was rented 52570 times.
KARATE MOON was rented 52523 times.
GOODFELLAS SALUTE was rented 52501 times.
LIAISONS SWEET was rented 52254 times.
REAP UNFAITHFUL was rented 52080 times.
PERFECT GROOVE was rented 51989 times.
SUPER WYOMING was rented 51725 times.
QUILLS BULL was rented 51595 times.
GRAFFITI LOVE was rented 51475 times.
VAMPIRE WHALE was rented 51431 times.
VALENTINE VANISHING was rented 51345 times.
MASKED BUBBLE was rented 51314 times.
PURE RUNNER was rented 51261 times.
UPTOWN YOUNG was rented 51191 times.
HANDICAP BOONDOCK was rented 50914 times.
SHRUNK DIVINE was rented 50866 times.
TYCOON GATHERING was rented 50731 times.
PRIDE ALAMO was rented 50706 times.
KISS GLORY was rented 50584 times.
GREATEST NORTH was rented 50414 times.
MINE TITANS was rented 50294 times.
SHANGHAI TYCOON was rented 50179 times.
SHANE DARKNESS was rented 50109 times.
STATE WASTELAND was rented 49987 times.
PLUTO OLEANDER was rented 49928 times.
RINGS HEARTBREAKERS was rented 49917 times.
ORIENT CLOSER was rented 49720 times.
LEBOWSKI SOLDIERS was rented 49612 times.
SEARCHERS WAIT was rented 49570 times.
ICE CROSSING was rented 49433 times.
PILOT HOOSIERS was rented 49431 times.
PICKUP DRIVING was rented 49367 times.
SPINAL ROCKY was rented 49227 times.
SPIKING ELEMENT was rented 49178 times.
LOVE SUICIDES was rented 49030 times.
HURRICANE AFFAIR was rented 48846 times.
NOON PAPI was rented 48596 times.
TEMPLE ATTRACTION was rented 48593 times.
PAYCHECK WAIT was rented 48590 times.
MARS ROMAN was rented 48570 times.
FORWARD TEMPLE was rented 48561 times.
PATRIOT ROMAN was rented 48398 times.
SADDLE ANTITRUST was rented 48285 times.
NEWTON LABYRINTH was rented 48279 times.
HILLS NEIGHBORS was rented 47997 times.
GLEAMING JAWBREAKER was rented 47979 times.
MISSION ZOOLANDER was rented 47839 times.
HORN WORKING was rented 47674 times.
HANKY OCTOBER was rented 47544 times.
MUSKETEERS WAIT was rented 47373 times.
HALF OUTFIELD was rented 46793 times.
FROST HEAD was rented 46634 times.
TWISTED PIRATES was rented 46462 times.
HOUSE DYNAMITE was rented 46199 times.
KISSING DOLLS was rented 46118 times.
GILMORE BOILED was rented 45976 times.
TRAINSPOTTING STRANGERS was rented 45802 times.
KICK SAVANNAH was rented 45782 times.
GIANT TROOPERS was rented 45646 times.
TOWERS HURRICANE was rented 45530 times.
GOLDMINE TYCOON was rented 45471 times.
SATURN NAME was rented 45418 times.
SPEAKEASY DATE was rented 45250 times.
SASSY PACKER was rented 45192 times.
SORORITY QUEEN was rented 45057 times.
JET NEIGHBORS was rented 44967 times.
HUSTLER PARTY was rented 44931 times.
TIES HUNGER was rented 44861 times.
PANTHER REDS was rented 44825 times.
THIN SAGEBRUSH was rented 44817 times.
JERK PAYCHECK was rented 44791 times.
PANKY SUBMARINE was rented 44758 times.
THEORY MERMAID was rented 44710 times.
SMOOCHY CONTROL was rented 44612 times.
GUN BONNIE was rented 44516 times.
MIDNIGHT WESTWARD was rented 44508 times.
MUMMY CREATURES was rented 44183 times.
WARS PLUTO was rented 43930 times.
SILVERADO GOLDFINGER was rented 43868 times.
MOULIN WAKE was rented 43840 times.
MOTIONS DETAILS was rented 43766 times.
WAGON JAWS was rented 43670 times.
SIDE ARK was rented 43651 times.
ROBBERY BRIGHT was rented 43568 times.
MASK PEACH was rented 43530 times.
HEAVYWEIGHTS BEAST was rented 43503 times.
ODDS BOOGIE was rented 43326 times.
INTRIGUE WORST was rented 43229 times.
LION UNCUT was rented 43170 times.
HOMICIDE PEACH was rented 43168 times.
INTERVIEW LIAISONS was rented 43057 times.
STRANGER STRANGERS was rented 43008 times.
GANGS PRIDE was rented 42978 times.
PERSONAL LADYBUGS was rented 42888 times.
GUNFIGHT MOON was rented 42880 times.
MAJESTIC FLOATS was rented 42716 times.
INSIDER ARIZONA was rented 42715 times.
STONE FIRE was rented 42666 times.
PEACH INNOCENT was rented 42579 times.
NECKLACE OUTBREAK was rented 42220 times.
RAGING AIRPLANE was rented 42129 times.
JEDI BENEATH was rented 42083 times.
NASH CHOCOLAT was rented 42026 times.
PARIS WEEKEND was rented 42020 times.
SAVANNAH TOWN was rented 41963 times.
HIGH ENCINO was rented 41960 times.
SPIRITED CASUALTIES was rented 41745 times.
PURPLE MOVIE was rented 41707 times.
PAJAMA JAWBREAKER was rented 41684 times.
LOUISIANA HARRY was rented 41604 times.
MERMAID INSECTS was rented 41525 times.
OUTLAW HANKY was rented 41365 times.
SONG HEDWIG was rented 41192 times.
HEAD STRANGER was rented 41144 times.
ZHIVAGO CORE was rented 41108 times.
HAUNTING PIANIST was rented 40955 times.
MOSQUITO ARMAGEDDON was rented 40894 times.
FORRESTER COMANCHEROS was rented 40776 times.
WONDERFUL DROP was rented 40559 times.
WON DARES was rented 40535 times.
MONSTER SPARTACUS was rented 40465 times.
HUNCHBACK IMPOSSIBLE was rented 40403 times.
WISDOM WORKER was rented 40286 times.
MODERN DORADO was rented 40255 times.
GOLDFINGER SENSIBILITY was rented 40245 times.
NOTORIOUS REUNION was rented 40191 times.
MODEL FISH was rented 40187 times.
HIGHBALL POTTER was rented 40180 times.
INDEPENDENCE HOTEL was rented 40061 times.
LEAGUE HELLFIGHTERS was rented 40026 times.
LAWLESS VISION was rented 39860 times.
SUPERFLY TRIP was rented 39822 times.
FAMILY SWEET was rented 39652 times.
LADY STAGE was rented 39629 times.
IGBY MAKER was rented 39552 times.
NEMO CAMPUS was rented 39551 times.
JADE BUNCH was rented 39486 times.
JACKET FRISCO was rented 39401 times.
PAST SUICIDES was rented 39152 times.
PARTY KNOCK was rented 39098 times.
FATAL HAUNTED was rented 39012 times.
VICTORY ACADEMY was rented 38836 times.
ENGLISH BULWORTH was rented 38735 times.
VANILLA DAY was rented 38603 times.
LOCK REAR was rented 38584 times.
INSTINCT AIRPORT was rented 38535 times.
JOON NORTHWEST was rented 38368 times.
INSECTS STONE was rented 38349 times.
MOTHER OLEANDER was rented 38236 times.
STAGE WORLD was rented 38232 times.
SANTA PARIS was rented 38205 times.
MANCHURIAN CURTAIN was rented 38111 times.
SPOILERS HELLFIGHTERS was rented 38093 times.
HOURS RAGE was rented 38049 times.
HELLFIGHTERS SIERRA was rented 38027 times.
JERICHO MULAN was rented 37961 times.
GRAPES FURY was rented 37954 times.
INCH JET was rented 37847 times.
OPPOSITE NECKLACE was rented 37830 times.
JEKYLL FROGMEN was rented 37815 times.
HEARTBREAKERS BRIGHT was rented 37549 times.
EXPENDABLE STALLION was rented 37476 times.
HONEY TIES was rented 37397 times.
PITTSBURGH HUNCHBACK was rented 37261 times.
ENEMY ODDS was rented 37237 times.
MADISON TRAP was rented 37226 times.
GENTLEMEN STAGE was rented 37188 times.
LUST LOCK was rented 37113 times.
SMILE EARRING was rented 37079 times.
HARPER DYING was rented 36911 times.
LOSER HUSTLER was rented 36597 times.
NATURAL STOCK was rented 36543 times.
INTENTIONS EMPIRE was rented 36499 times.
FELLOWSHIP AUTUMN was rented 36464 times.
RIDER CADDYSHACK was rented 36436 times.
FISH OPUS was rented 36378 times.
LONELY ELEPHANT was rented 36362 times.
GREASE YOUTH was rented 36358 times.
WORLD LEATHERNECKS was rented 36292 times.
REEF SALUTE was rented 36041 times.
FANTASY TROOPERS was rented 35901 times.
MULAN MOON was rented 35816 times.
SENSIBILITY REAR was rented 35680 times.
HOPE TOOTSIE was rented 35661 times.
JEEPERS WEDDING was rented 35513 times.
MOONWALKER FOOL was rented 35394 times.
FEUD FROGMEN was rented 35310 times.
FREDDY STORM was rented 35156 times.
MONTEREY LABYRINTH was rented 35118 times.
IDAHO LOVE was rented 35118 times.
PRIX UNDEFEATED was rented 35089 times.
LABYRINTH LEAGUE was rented 34903 times.
MADRE GABLES was rented 34879 times.
POTLUCK MIXED was rented 34672 times.
HANGING DEEP was rented 34647 times.
VERTIGO NORTHWEST was rented 34492 times.
LOVELY JINGLE was rented 34387 times.
FOOL MOCKINGBIRD was rented 34353 times.
RUN PACIFIC was rented 34237 times.
MILE MULAN was rented 34203 times.
UNTOUCHABLES SUNRISE was rented 34077 times.
GHOST GROUNDHOG was rented 34062 times.
UNFAITHFUL KILL was rented 33974 times.
MICROCOSMOS PARADISE was rented 33973 times.
SPEED SUIT was rented 33962 times.
SPARTACUS CHEAPER was rented 33907 times.
HEAVEN FREEDOM was rented 33899 times.
INDIAN LOVE was rented 33829 times.
ROLLERCOASTER BRINGING was rented 33741 times.
MEMENTO ZOOLANDER was rented 33652 times.
FLAMINGOS CONNECTICUT was rented 33634 times.
SNATCHERS MONTEZUMA was rented 33551 times.
FARGO GANDHI was rented 33282 times.
GO PURPLE was rented 33267 times.
RIGHT CRANES was rented 33241 times.
HOLOCAUST HIGHBALL was rented 33113 times.
RESERVOIR ADAPTATION was rented 32989 times.
ESCAPE METROPOLIS was rented 32664 times.
FLATLINERS KILLER was rented 32395 times.
GORGEOUS BINGO was rented 32302 times.
TARZAN VIDEOTAPE was rented 32180 times.
DOGMA FAMILY was rented 32167 times.
LUCKY FLYING was rented 32086 times.
OPUS ICE was rented 32041 times.
GARDEN ISLAND was rented 31997 times.
MOB DUFFEL was rented 31974 times.
GROUNDHOG UNCUT was rented 31955 times.
YOUNG LANGUAGE was rented 31945 times.
KANE EXORCIST was rented 31905 times.
MINORITY KISS was rented 31824 times.
GROOVE FICTION was rented 31809 times.
SUNSET RACER was rented 31803 times.
OCTOBER SUBMARINE was rented 31734 times.
FIGHT JAWBREAKER was rented 31598 times.
MIGHTY LUCK was rented 31537 times.
NORTH TEQUILA was rented 31483 times.
HOMEWARD CIDER was rented 31320 times.
ILLUSION AMELIE was rented 31292 times.
HANOVER GALAXY was rented 31185 times.
MEET CHOCOLATE was rented 31011 times.
JAWS HARRY was rented 30945 times.
MASSAGE IMAGE was rented 30926 times.
EFFECT GLADIATOR was rented 30822 times.
HYSTERICAL GRAIL was rented 30818 times.
DURHAM PANKY was rented 30738 times.
LAWRENCE LOVE was rented 30532 times.
HUNTING MUSKETEERS was rented 30450 times.
VISION TORQUE was rented 30420 times.

In [113]:
#7f. Write a query to display how much business, in dollars, each store brought in.
store=Base.classes.store
address=Base.classes.address
dollars=session.query(store.store_id,  func.sum(payment.amount), address.address)\
    .filter(store.store_id==inv.store_id).filter(inv.inventory_id==rental.inventory_id)\
    .filter(rental.rental_id==payment.rental_id).filter(store.address_id==address.address_id)\
    .group_by(store.store_id).all()
#
for record in dollars:
    (store_id, total, address)=record
    print(f"Store #{store_id}, located at {address}, brought in ${total}.")

Store #1, located at 47 MySakila Drive, brought in $33679.79.
Store #2, located at 28 MySQL Boulevard, brought in $33726.77.

In [115]:
#7g. Write a query to display for each store its store ID, city, and country.
store=Base.classes.store
address=Base.classes.address
store_info=session.query(store.store_id, city.city, country.country)\
    .filter(store.address_id==address.address_id).filter(address.city_id==city.city_id)\
    .filter(city.country_id==country.country_id)\
    .group_by(store.store_id).all()
    
for record in store_info:
    (store_id, city, country)=record
    print(f"Store # {store_id} is located in {city}, {country}.")

Store # 1 is located in Lethbridge, Canada.
Store # 2 is located in Woodridge, Australia.

In [118]:
#7h. List the top five genres in gross revenue in descending order. 
#(**Hint**: you may need to use the following tables: category, film_category, inventory, payment, and rental.)

best_genres=session.query(category.name,  func.sum(payment.amount))\
    .filter(category.category_id==f_cat.category_id).filter(f_cat.film_id==inv.film_id)\
    .filter(inv.inventory_id==rental.inventory_id).filter(rental.rental_id==payment.rental_id)\
    .group_by(category.name).order_by(func.sum(payment.amount).desc()).limit(5)
#
for genre_info in best_genres:
    (genre, total)=genre_info
    print(f"Movies in the {genre} category earned ${total}.")

Movies in the Sports category earned $5314.21.
Movies in the Sci-Fi category earned $4756.98.
Movies in the Animation category earned $4656.30.
Movies in the Drama category earned $4587.39.
Movies in the Comedy category earned $4383.58.

In [133]:
#8a. In your new role as an executive, you would like to have an easy way of viewing the Top five genres by gross revenue. 
#Use the solution from the problem above to create a view. 
best_genres_db=pd.DataFrame(list(best_genres), columns=["Genre","Dollar Amounts"])

In [132]:
#8b. How would you display the view that you created in 8a?

best_genres_db

       Genre Dollar Amounts
0     Sports        5314.21
1     Sci-Fi        4756.98
2  Animation        4656.30
3      Drama        4587.39
4     Comedy        4383.58

In [134]:
#8c. You find that you no longer need the view `top_five_genres`. Write a query to delete it.
best_genres_db=[]
best_genres_db